strong {
    font-family: GothamBook, Arial, sans-serif;
    color: #302C71;
}

.search-icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.icons img {
    width: 100px;
}

.icons:first-of-type {
    margin-left: 0;
}

.clear-icon {
    float: right;
    margin-top: 3.25%;
}

.icons {
    width: 100px;
    margin-left: 1.5rem;
    text-align: center;
}

.icons img {
    text-align: center;
}

.iconlinks {
    position: relative;
    top: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

#db-search-bar {
    flex-grow: 1;
    background: #DAE6ED;
    padding: 9px;
    border-radius: 5px;
    width: 100%;
}
app-spinner {
    position: relative;
    top: 2rem;
}
@media only screen and (min-width: 768px) {
    .search-icon-container {
        flex-flow: row;
    }
    #db-search-bar {
        width: 36vw;
    }
}

#db-search-bar input {
    min-width: calc((100%/12)*10);
    padding: 18px;
    font-size: 18px;
}

.icon-link {
    color: #0079b8;
    font-size: 18px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 18px;
    flex-flow: column;
}

.search-title {
    white-space: nowrap;
    display: flex;
}

.search-title .info-icon {
    margin: 0.6em 0.5em 0.1em;
}

.results {
    padding: 18px;
}

.result-heading {
    font-size: 23px;
    margin: 0;
    padding: 9px;
    padding-left: 0;
}

.cdr-info {
    font-size: 14px;
}

.result-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-grow: 1;
}

.result-box {
    /* height:auto; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-width: calc(((100%/12)*3) - 14px); */
    width: calc(((100%/12)*3) - 18px);
    margin-right: 18px;
    margin-bottom: 18px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

.result-box-title {
    color: #337AB7;
    font-family: Arial, sans-serif;
    display: flex;
    padding:18px;
    padding-bottom: 3px;
    margin: 0;
}

.result-box:last-of-type {
    margin-right: 0;
}

.result-stat {
    color: #302C71;
    font-family: GothamBook, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 1em;
}

.result-body {
    color: #302C71;
    font-family: GothamBook, Arial, sans-serif;
    font-size: 14px;
    padding:18px;
    padding-top:0px;
    display: flex;
    flex-direction: column;
}
.result-box-link {
    padding:18px;
    padding-top:0;
}

.result-body-item {
    padding: 6px 0;
}

.result-body-item:last-child {
    margin-top: auto;
}

.result-bottom-link {
    font-size: 15px;
    color: #337AB7;
    cursor: pointer;
}

.result-bottom-link:hover {
    color: #262262;
}

.result-bottom-link:hover {
    color: #262262;
}

#pm-box {
    max-width: 100%;
    padding-top: 9px;
}

@media only screen and (min-width: 768px) {
    #pm-box {
        max-width: calc(50%);
    }
}

@media only screen and (min-width: 1168px) {
    #pm-box {
        max-width: calc(((100%/12)*5));
    }
}

#pm-box .result-body {
    margin: 0;
}

#pm-box .result-body {
    margin: 0;
    padding-top: 9px;
}

@media (max-width: 1000px) {
    .iconlinks {
        margin-bottom: .5em;
    }
    .result-box {
        height: auto;
        min-width: calc(((100%/12)*6) - 18px);
        margin-bottom: 18px;
    }
    .result-box:nth-of-type(2) {
        margin-right: 0;
    }
}