<div class="db-container">
  {{title}}
  <div class="pm-layout">
    <aside>
      <div *ngFor="let item of conceptGroups" class="button-item">
        <button (click)="showMeasurement(item, item.concepts[0])" [ngClass]="{active:selectedGroup === item}"
          class="btn btn-link"> {{item.groupName}} </button>
      </div>
    </aside>

    <div *ngIf="loading()" class="loading white-card-box ">
      <div class="row flex-items-xs-middle">
        <div class="col-xs-12">
          <span class="spinner spinner-lg hidden-sm-down">Loading ...</span>
          <span class="spinner spinner-md hidden-md-up hidden-xs-down"></span>
          <span class="spinner spinner-sm hidden-sm-up"></span>
        </div>
      </div>
    </div>
    <div class="db-card" *ngIf="!loading()">
      <div class="db-card-inner">
        {{selectedGroup.groupName}}
        <div *ngIf="selectedGroup.concepts.length > 1" class="col-md">
          <button *ngFor="let c of selectedGroup.concepts" [ngClass]="{active:selectedConcept === c}"
            (click)="showMeasurement(selectedGroup, c)" class="btn btn-link">{{c.conceptName}} </button>
        </div>
        <div *ngIf="selectedConcept.analyses && selectedConcept.analyses.genderAnalysis">
          <div class="chart-layout-top">
            <!-- Loop through the genders we have results for showing the graph -->
            <div class="chart-item" *ngFor="let gender of selectedConcept.analyses.genderAnalysis.results">
              <app-chart *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID].includes(gender.stratum2) && selectedConcept.analyses &&
                         selectedConcept.analyses.measurementValueGenderAnalysis" [genderId]="gender.stratum2"
                [chartTitle]="gender.analysisStratumName + ' - ' + gender.countValue.toLocaleString()"
                [chartType]="selectedConcept.chartType"
                [analysis]="selectedConcept.analyses.measurementValueGenderAnalysis[0]">
              </app-chart>
            </div>
          </div>

          <!-- show Age totals -->
          <div class="chart-item" *ngIf="selectedConcept.analyses && selectedConcept.analyses.ageAnalysis">
            <app-chart [analysis]="selectedConcept.analyses.ageAnalysis" [pointWidth]="20"
              [backgroundColor]="backgroundColor">
            </app-chart>
          </div>

          <!-- Todo wait on design for further dev -->

        </div>
      </div>
    </div>
  </div>
</div>