<div class="db-container">
  <h1>{{title}}</h1>
  <div class="pm-layout">
    <aside>
      <div *ngFor="let item of conceptGroups;" class="button-item">
        <button (click)="showMeasurement(item, item.concepts[0])" [ngClass]="{active:selectedGroup === item}"
          class="btn btn-link"> {{item.groupName}} </button>
      </div>
    </aside>
    <div *ngIf="loading()" class="loading white-card-box ">
      <div class="row flex-items-xs-middle">
        <div class="col-xs-12">
          <span class="spinner spinner-lg hidden-sm-down">Loading ...</span>
          <span class="spinner spinner-md hidden-md-up hidden-xs-down"></span>
          <span class="spinner spinner-sm hidden-sm-up"></span>
        </div>
      </div>
    </div>
    <div class="db-card" *ngIf="!loading()">
      <div class="db-card-inner">
        <div class="db-card-header">
          <div class="group-name">{{selectedGroup.groupName}}</div>
          <div class="group-option" *ngIf="selectedGroup.concepts.length > 1">
            <button *ngFor="let c of selectedGroup.concepts" [ngClass]="{active:selectedConcept === c}"
              (click)="showMeasurement(selectedGroup, c)" class="btn btn-link">{{c.conceptName}} </button>
          </div>
        </div>
        <div *ngIf="selectedConcept && (selectedConcept.conceptId === '903111' || selectedConcept.conceptId === '903120')" class="participant-count">Participant count: {{selectedConcept.analyses.countAnalysis.results[0].countValue}}</div>
        <div class="chart-layout"
          *ngIf="selectedConcept && selectedConcept.analyses && selectedConcept.analyses.genderAnalysis">
          <!-- Loop through the genders we have results for showing the graph -->
          <div class="chart-item" *ngFor="let gender of selectedConcept.analyses.genderAnalysis.results">
            <div *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID].includes(gender.stratum2) && selectedConcept.analyses &&
              selectedConcept.analyses.measurementValueGenderAnalysis" class="chart-title">
              {{gender.analysisStratumName}} – {{gender.countValue.toLocaleString()}}</div>
            <app-chart *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID].includes(gender.stratum2) && selectedConcept.analyses &&
                         selectedConcept.analyses.measurementValueGenderAnalysis" [genderId]="gender.stratum2"
              [chartTitle]="gender.analysisStratumName + ' - ' + gender.countValue.toLocaleString()"
              [chartType]="selectedConcept.chartType"
              [analysis]="selectedConcept.analyses.measurementValueGenderAnalysis[0]">
            </app-chart>
          </div>
          <!-- show Age totals -->
          <div class="chart-item age-chart" *ngIf="selectedConcept.analyses && selectedConcept.analyses.ageAnalysis">
            <div>{{ageChartTitle}}
              <clr-tooltip>
                <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
                <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
                  <div class="tooltip-label">{{tooltipText.pmAgeChartHelpText}}</div>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
            <app-chart [analysis]="selectedConcept.analyses.ageAnalysis" [pointWidth]="45" [chartTitle]="ageChartTitle"
              [backgroundColor]="backgroundColor" [domainType]="domainType">
            </app-chart>
          </div>

          <!-- Todo wait on design for further dev -->
        </div>
      </div>
    </div>
  </div>
</div>