.pm-layout {
    display:flex;
    justify-content: space-between;
}
.chart-layout {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.chart-item {
    max-width: calc((50%) - 18px);
    min-width: 10rem ;
    flex-grow: 1;
}
.chart-item:last-of-type {
    width: 100%;
    max-width: calc((100%) - 18px);
    min-width: 20rem ;
}