<div class="pm-container">
  <h1>{{title}}</h1>
  <div class="pm-layout">
    <aside>
      <div *ngFor="let item of conceptGroups;" class="button-item">
        <button (click)="showMeasurement(item, item.concepts[0])" [ngClass]="{active:selectedGroup === item}"
          class="btn btn-link"> {{item.groupName}} </button>
      </div>
    </aside>
    <app-spinner [loading]="loading()"></app-spinner>
    <div class="db-card" *ngIf="!loading()">
      <div class="db-card-inner">
        <div class="db-card-header">
          <div class="group-name">{{selectedGroup.groupName}}</div>
          <div class="bs-title" >{{bsChartTitle}}
            <app-tooltip [toolTipText1]="tooltipText.pmValueChartHelpText"
                         [label]="'Physical Measurements tooltip hover'" [searchTerm]="searchText" [action]="'Hover on pm biological sex chart of concept' + selectedGroup"></app-tooltip>
          </div>
          <div class="group-option" *ngIf="selectedGroup.concepts.length > 1">
            <button *ngFor="let c of selectedGroup.concepts" [ngClass]="{active:selectedConcept === c}"
              (click)="showMeasurement(selectedGroup, c)" class="btn btn-link">{{c.conceptName}} </button>
          </div>
        </div>
        <ng-container *ngIf="unitNames && unitNames.length > 1">
          <div class="group-unit">
            <button *ngFor="let u of unitNames" [ngClass]="{active:selectedConceptUnit === u}" (click)="setUnit(u)" class="btn btn-link unit-button">{{u}}</button>
          </div>
        </ng-container>
        <div *ngIf="selectedConcept && (selectedConcept.conceptId === '903111' || selectedConcept.conceptId === '903120')" class="participant-count">
          <ng-container *ngIf="selectedConcept.analyses.countAnalysis.results[0].countValue > 20;then pmGE20;else pmLE20">
          </ng-container>
          <ng-template #pmGE20>
            Total Participant count: {{selectedConcept.analyses.countAnalysis.results[0].countValue | number}}
          </ng-template>
          <ng-template #pmLE20>
            Total Participant count: &le; {{selectedConcept.analyses.countAnalysis.results[0].countValue | number}}
          </ng-template>
        </div>
        <div class="chart-layout"
          *ngIf="selectedConcept && selectedConcept.analyses && selectedConcept.analyses.genderAnalysis">
          <!-- Loop through the genders we have results for showing the graph -->
          <ng-container *ngIf="['903120','903111'].indexOf(selectedConcept.conceptId) === -1; else stackedChart">
            <div class="bs-chart-item" *ngFor="let gender of selectedConcept.analyses.genderAnalysis.results">
              <div *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID, dbc.OTHER_GENDER_ID].includes(gender.stratum2) && selectedConcept.analyses &&
              selectedConcept.analyses.measurementValueGenderAnalysis" class="chart-title">
                <span class="chart-title" *ngIf="gender.countValue > 20; else PmChartTitleLE20">
                  {{gender.analysisStratumName}} – {{gender.countValue.toLocaleString()}}</span>
                <ng-template #PmChartTitleLE20>{{gender.analysisStratumName}} – &le; {{gender.countValue.toLocaleString()}}</ng-template>
              </div>
              <app-chart [genderId]="gender.stratum2"
                         [chartTitle]="gender.analysisStratumName + ' - ' + gender.countValue.toLocaleString()"
                         [chartType]="selectedConcept.chartType"
                         [analysis]="getValueAnalysis()"
                         [conceptId]="selectedConcept.conceptId"
                         [domainCountAnalysis]="domainCountAnalysis">
              </app-chart>
            </div>
          </ng-container>
          <ng-template #stackedChart>
            <div class="chart-item stacked-chart-item">
              <app-chart *ngIf="selectedConcept.analyses.measurementValueGenderAnalysis" [conceptId]="selectedConcept.conceptId"
                         [analysis]="selectedConcept.analyses.measurementValueGenderAnalysis[0]"
              [participantCount]="selectedConcept.analyses.countAnalysis.results[0].countValue"
              [domainCountAnalysis]="domainCountAnalysis">
              </app-chart>
            </div>
          <!-- </ng-templat -->
          <!-- show Age totals -->
          <div class="chart-item age-chart" *ngIf="selectedConcept.analyses && selectedConcept.analyses.ageAnalysis">
            <div>{{ageChartTitle}}
              <app-tooltip [toolTipText1]="tooltipText.pmAgeChartHelpText"
              [label]="'Physical Measurements tooltip hover'" [searchTerm]="searchText" [action]="'Hover on pm age chart of concept' + selectedConcept.conceptName"></app-tooltip>
            </div>
            <chart-age [chartTitle]="ageChartTitle" [domainType]="domainType" [domainCountAnalysis]="domainCountAnalysis" [analysis]="selectedConcept.analyses.ageAnalysis"></chart-age>
          </div>

          <!-- Todo wait on design for further dev -->
        </div>
      </div>
    </div>
  </div>
</div>