.m-layout{
    display:flex;
    align-items: center;
    widows: 100%;
}
.m-layout aside {
    transform: rotate(-90deg);
    width: calc((100%/3)*0.75);
}
.m-layout app-chart {
    width: calc((100%/12)*11);
}
.no-source-concepts {
    margin: auto;
}