<div class="db-page-spinner" *ngIf="loading()">
  <span class="spinner">
    Loading...
  </span>
</div>

<div *ngIf="unitNames.length > 1 && displayMeasurementGraphs" class="col-md">
  <div *ngFor="let u of unitNames.slice(0,10)" [ngClass]="{'active':selectedUnit === u}"
          (click)="showMeasurementGenderHistogram(u)" class="btn btn-link unit-choice">{{u}} </div>
  <clr-tooltip>
    <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
    <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
      <div class="tooltip-label">Toggle here to view unit specific histograms</div>
    </clr-tooltip-content>
  </clr-tooltip>
</div>

<div class="col-md" *ngIf="!loading() && showGraph === graphType.BiologicalSex || showGraph === graphType.Age">
  <div *ngFor="let sg of subGraphButtons" [ngClass]="{'active':selectedSubGraph === sg}"
       (click)="showSelectedSubGraph(sg)" class="btn btn-link sub-graph-choice">{{sg}}</div>
</div>

<div *ngIf="!loading()" class="concept-charts chart">
  <!-- show measurements binned by gender if we want -->
  <!-- Loop through the genders we have measurement results for  for showing the graph
  <!-- Loop through the genders we have measurement results for  for showing the graph
   This looping variable is set if showMeasurements is passed in to the component-->

  <ng-container class="chart-container" *ngIf="displayMeasurementGraphs">
    <div class="chart" *ngFor="let gender of genderResults">
      <div class="m-layout">
        <aside *ngIf="toDisplayMeasurementGenderAnalysis && toDisplayMeasurementGenderAnalysis.results && toDisplayMeasurementGenderAnalysis.results.length > 0">
          <ng-container *ngIf="fetchChartTitle(gender) > 20;then mGE20;else mLE20">
          </ng-container>
          <ng-template #mGE20>
            {{gender.analysisStratumName}} - {{fetchChartTitle(gender) | number}}
          </ng-template>
          <ng-template #mLE20>
            {{gender.analysisStratumName}} - &le; {{fetchChartTitle(gender) | number}}
          </ng-template>
        </aside>
      <app-chart
              *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID, dbc.OTHER_GENDER_ID].includes(gender.stratum2) &&
toDisplayMeasurementGenderAnalysis && toDisplayMeasurementGenderAnalysis.results && toDisplayMeasurementGenderAnalysis.results.length > 0"
              [genderId]="gender.stratum2"
              [chartTitle]="gender.analysisStratumName + ' - ' + fetchChartTitle(gender)" [chartType]="'histogram'"
              [analysis]="toDisplayMeasurementGenderAnalysis" [backgroundColor]="'#f6f6f8'"></app-chart>
    </div>
  </div>
    <div class="no-values" *ngIf="toDisplayMeasurementGenderAnalysis === undefined">
      No Values Available
    </div>
  </ng-container>
  <!-- show gender totals  if we want -->
  <!-- BIOLOGICAL P CHART -->
  <ng-container *ngIf="showGraph === graphType.BiologicalSex && analyses.genderAnalysis">
    <div class="chart" *ngIf="isPercentageGraphSelected(); else BSCountChart">
      <app-chart [analysis]="toDisplayGenderAnalysis" [pointWidth]="30" [backgroundColor]="backgroundColor"
                 [chartTitle]="'Sex Assigned at Birth'"
                 [domainCountAnalysis]="domainCountAnalysis" [conceptName]="conceptName"> </app-chart>
    </div>
    <ng-template #BSCountChart>
      <div class="chart">
        <app-chart [analysis]="toDisplayGenderAnalysis" [pointWidth]="30" [backgroundColor]="backgroundColor"
                   [chartTitle]="'Sex Assigned at Birth'"
                   [domainCountAnalysis]="domainCountAnalysis" [conceptName]="conceptName"> </app-chart>
      </div>
    </ng-template>
  </ng-container>
  <!-- IDENTITY COLUMN CHART -->
  <ng-container *ngIf="showGraph === graphType.GenderIdentity">
    <div class="chart" *ngIf="showGraph === graphType.GenderIdentity && analyses.genderIdentityAnalysis">
      <app-chart [analysis]="analyses.genderIdentityAnalysis" [backgroundColor]="backgroundColor"
                 [chartTitle]="'Gender Identity'"> </app-chart>
    </div>
  </ng-container>

  <ng-container *ngIf="showGraph === graphType.RaceEthnicity">
    <div class="chart" *ngIf="showGraph === graphType.RaceEthnicity && analyses.raceEthnicityAnalysis">
      <app-chart [analysis]="analyses.raceEthnicityAnalysis" [backgroundColor]="backgroundColor"
                 [chartTitle]="'Race Ethnicity'"> </app-chart>
    </div>
  </ng-container>

  <!-- show age totals  if we want -->
  <!-- AGE COLUMN CHART -->
  <ng-container *ngIf="showGraph === graphType.Age && analyses.ageAnalysis">
    <div class="chart" *ngIf="isPercentageGraphSelected(); else AgeCountChart">
      <app-chart [analysis]="toDisplayAgeAnalysis" [pointWidth]="30" [backgroundColor]="backgroundColor"
                 [domainType]="'ehr'" [domainCountAnalysis]="domainCountAnalysis"
      [conceptName]="conceptName"> </app-chart>
    </div>
    <ng-template #AgeCountChart>
      <app-chart [analysis]="toDisplayAgeAnalysis" [pointWidth]="30" [backgroundColor]="backgroundColor"
                 [domainType]="'ehr'" [domainCountAnalysis]="domainCountAnalysis"
                 [conceptName]="conceptName"> </app-chart>
    </ng-template>
  </ng-container>

  <!-- show sources totals  if we want -->
  <!-- SOURCE COLUMN CHART -->
  <ng-container class="chart-container" *ngIf="showGraph === graphType.Sources">
    <div class="chart" *ngIf="sourceConcepts && sourceConcepts.length > 0; else NoSourceConcepts;">
      <app-chart [concepts]="sourceConcepts" [sources]="true" [pointWidth]="20" [chartTitle]="'Sources'">
      </app-chart>
    </div>
    <ng-template #NoSourceConcepts>
      <div class="no-source-concepts">
        No Source Concepts
      </div>
    </ng-template>
  </ng-container>

  <!-- show race totals  if we want -->
  <div class="chart" *ngIf="showRace && analyses.raceAnalysis ">
    <app-chart [analysis]="analyses.raceAnalysis" [pointWidth]="20" [backgroundColor]="backgroundColor"
               [chartTitle]="'Race'">
    </app-chart>
  </div>
  <!-- show ethnicity totals  if we want -->
  <div class="chart" *ngIf="showEthnicity && analyses.ethnicityAnalysis ">
    <app-chart [analysis]="analyses.ethnicityAnalysis" [pointWidth]="20" [backgroundColor]="backgroundColor"
               [chartTitle]="'Ethnicity'">
    </app-chart>
  </div>

</div>