<div class="db-page-spinner" *ngIf="loading() && !displayGraphErrorMessage">
  <span class="spinner">
    Loading...
  </span>
</div>
<div class="graph-error-message" *ngIf="displayGraphErrorMessage">
  <app-error-message-react [dataType]="'chart'"></app-error-message-react>
</div>
<ng-container *ngIf="!displayGraphErrorMessage">
<div *ngIf="unitNames.length > 1 && displayMeasurementGraphs" class="col-md">
  <div *ngFor="let u of unitNames.slice(0,10)" [ngClass]="{'active':selectedUnit === u}"
    (click)="showMeasurementGenderHistogram(u)" class="btn btn-link unit-choice">{{u}} </div>
  <app-tooltip-react [tooltipKey]="'histogramUnitChartText'"></app-tooltip-react>
  <div *ngIf="mixtureOfValues">
    <div *ngFor="let su of subUnitValuesFilter" [ngClass]="{'active':selectedMeasurementType === su}"
         (click)="showSpecificMeasurementTypeValues(su)" class="btn btn-link measurement-filter-choice">{{su}}</div>
  </div>
</div>

<div *ngIf="!loading()" class="concept-charts">
  <!-- show measurements binned by gender if we want -->
  <!-- Loop through the genders we have measurement results for  for showing the graph
  <!-- Loop through the genders we have measurement results for  for showing the graph
   This looping variable is set if showMeasurements is passed in to the component-->

  <ng-container class="chart-container" *ngIf="displayMeasurementGraphs">
    <div class="chart" *ngFor="let gender of genderResults">
      <div class="m-layout">
        <aside
          *ngIf="toDisplayMeasurementGenderAnalysis && toDisplayMeasurementGenderAnalysis.results && toDisplayMeasurementGenderAnalysis.results.length > 0">
          <ng-container *ngIf="fetchChartTitle(gender) > 20;then mGE20;else mLE20">
          </ng-container>
          <ng-template #mGE20>
            {{gender.analysisStratumName}} - {{fetchChartTitle(gender) | number}}
          </ng-template>
          <ng-template #mLE20>
            {{gender.analysisStratumName}} - &le; {{fetchChartTitle(gender) | number}}
          </ng-template>
        </aside>
        <app-chart
          *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID, dbc.OTHER_GENDER_ID].includes(gender.stratum2) &&
toDisplayMeasurementGenderAnalysis && toDisplayMeasurementGenderAnalysis.results && toDisplayMeasurementGenderAnalysis.results.length > 0"
          [genderId]="gender.stratum2" [chartTitle]="gender.analysisStratumName + ' - ' + fetchChartTitle(gender)"
          [chartType]="'histogram'" [analysis]="toDisplayMeasurementGenderAnalysis" [backgroundColor]="'#f6f6f8'"
          [conceptName]="conceptName"></app-chart>
      </div>
    </div>
    <div class="no-values" *ngIf="toDisplayMeasurementGenderAnalysis === undefined">
      No Values Available
    </div>
  </ng-container>
  <!-- show gender totals  if we want -->
  <!-- BIOLOGICAL P CHART -->
  <ng-container *ngIf="showGraph === graphType.BiologicalSex && analyses.genderAnalysis">
    <div class="chart">
      <app-biosex-chart-react *ngIf="reactChart; else angBSChart" [domain]="'ehr'" [genderAnalysis]="toDisplayGenderAnalysis"
                              [genderCountAnalysis]="domainCountAnalysis.genderCountAnalysis"></app-biosex-chart-react>
      <ng-template #angBSChart>
        <app-chart [analysis]="toDisplayGenderAnalysis" [pointWidth]="30" [backgroundColor]="backgroundColor"
                   [chartTitle]="'Sex Assigned at Birth'" [domainCountAnalysis]="domainCountAnalysis" [conceptName]="conceptName">
        </app-chart>
      </ng-template>
    </div>
  </ng-container>
  <!-- IDENTITY COLUMN CHART -->
  <!-- show age totals  if we want -->
  <!-- AGE COLUMN CHART -->
  <ng-container *ngIf="showGraph === graphType.Age && analyses.ageAnalysis">
    <div class="chart">
      <app-age-chart-react *ngIf="reactChart; else angAgeChart" [domain]="'ehr'" [ageAnalysis]="toDisplayAgeAnalysis"
                           [ageCountAnalysis]="domainCountAnalysis.ageCountAnalysis"></app-age-chart-react>
      <ng-template #angAgeChart>
      <app-chart [analysis]="toDisplayAgeAnalysis" [pointWidth]="30" [backgroundColor]="backgroundColor"
        [domainType]="'ehr'" [domainCountAnalysis]="domainCountAnalysis" [conceptName]="conceptName"> </app-chart>
      </ng-template>
    </div>
  </ng-container>

  <!-- show sources totals  if we want -->
  <!-- SOURCE COLUMN CHART -->
  <ng-container class="chart-container" *ngIf="showGraph === graphType.Sources">
    <div class="source-chart" *ngIf="sourceConcepts && sourceConcepts.length > 0; else NoSourceConcepts;">
      <app-chart [concepts]="sourceConcepts" [sources]="true" [pointWidth]="20" [chartTitle]="'Sources'"
        [conceptName]="conceptName">
      </app-chart>
    </div>
    <ng-template #NoSourceConcepts>
      <div class="no-source-concepts">
        No Source Concepts
      </div>
    </ng-template>
  </ng-container>
</div>
</ng-container>