*.pyc
*.swp
*~
.classpath
.project
.externalToolBuilders
.settings
/public-api/?/
/public-api/db/?/
/public-api/.docker-sync/
/public-api/.swagger-codegen/*
/public-api/sa-key.json
/public-api/src/main/resources/merged.yaml
/public-api/src/main/webapp/WEB-INF/appengine-web.xml
/public-api/src/main/webapp/WEB-INF/sa-key.json
/public-api/src/main/webapp/WEB-INF/gsuite-admin-sa.json
/public-api/src/generated
/public-api/tools/build/*
/public-ui/package-lock.json
common-api/out/*
/public-ui/coverage
/public-ui/ui.iml
/public-ui/.idea/*
/public-ui/**/*.js
/public-ui/**/*.map
/public-ui/dist/**
/public-ui/yarn-error.log
/public-ui/src/publicGenerated/*
/public-ui/sa-key.json
cloud_sql_proxy
node_modules
npm-debug.log
tools/*.jar
tools/cloud_sql_proxy
.DS_Store
client/py/.pydevproject
Common-api/out/*
**/.idea
**/*.iml
**/*.ipr
**/*.iws
**/build
**/.gradle
# These gradle directories/files churn on refresh
**/gradle
**/gradlew
**/gradlew.bat
