.survey-graph-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 9px;
}

.survey-chart-choice, .survey-sub-chart-choice {
    padding: 9px;
    color: #216fb4;
    position: relative;
    display: flex;
    cursor: pointer;
}

.survey-chart-choice:hover {
    color: #262262;
}

.chart {
    z-index: 17000;
}
