<div class="survey-graph-menu">
  <div *ngFor="let g of graphButtons"
       [ngClass]="{'active':graphToShow === g}" tabindex="0" (keydown.enter)="selectGraphType(g,question,answer)"  (click)="$event.stopPropagation();selectGraphType(g,question,answer)"
       class="survey-chart-choice">
    <span>{{g}}</span>
    <app-tooltip-react [tooltipKey]="getTooltipKey(g)"
                       [label]="surveyName + ' - Q' +  question.actualQuestionNumber+ ' - ' +  question.conceptName + ' - ' + answer.stratum4 + ' - ' + g"
                       [searchTerm]="searchTerm" [action]="'Survey Chart Tooltip'"></app-tooltip-react>
  </div>
</div>
<div *ngIf="displayGraphErrorMessage">
  <div class="graph-error-message">
    <app-error-message [dataType]="'chart'"></app-error-message>
  </div>
</div>
<div class="chart" *ngIf="!displayGraphErrorMessage">
  <app-biosex-chart-react *ngIf="isBioSexChart(); else angChart" (click)="$event.stopPropagation()" [domain]="'survey'" [genderAnalysis]="selectedChartAnalysis" [genderCountAnalysis]="surveyCountAnalysis.genderCountAnalysis" [selectedResult]="selectedResult"></app-biosex-chart-react>
  <app-age-chart-react *ngIf="isAgeChart(); else angChart" (click)="$event.stopPropagation()" [domain]="'survey'" [ageAnalysis]="selectedChartAnalysis" [ageCountAnalysis]="surveyCountAnalysis.ageCountAnalysis" [selectedResult]="selectedResult"></app-age-chart-react>
  <ng-template #angChart>
    <app-chart (click)="$event.stopPropagation()" [surveyAnalysis]="selectedChartAnalysis" [selectedResult]="selectedResult" [surveyCountAnalysis]="surveyCountAnalysis"
               [backgroundColor]="'#ECF1F4'" [domainType]="'surveys'" [chartTitle]="question.graphToShow" [surveyVersionAnalysis]="versionAnalysis"></app-chart>
  </ng-template>
</div>