<div class="survey-graph-menu">
  <div *ngFor="let g of graphButtons"
       [ngClass]="{'active':question.graphToShow === g}" tabindex="0" (keydown.enter)="selectGraphType(g,question,answer)"  (click)="$event.stopPropagation();selectGraphType(g,question,answer)"
       class="survey-chart-choice">
    <span>{{g}}</span>
    <app-tooltip [toolTipText1]="showToolTip(g)"
    [label]="surveyName + ' - Q' +  question.actualQuestionNumber+ ' - ' +  question.conceptName + ' - ' + answer.stratum4 + ' - ' + g" [searchTerm]="searchTerm" [action]="'Survey Chart Tooltip'"></app-tooltip>
  </div>
</div>
<div class="chart">
  <app-chart (click)="$event.stopPropagation()" [surveyAnalysis]="selectedAnalysis" [selectedResult]="selectedResult" [surveyCountAnalysis]="surveyCountAnalysis"
             [backgroundColor]="'#ECF1F4'" [domainType]="'surveys'" [chartTitle]="question.graphToShow"></app-chart>
</div>