/* removed for skin test */
/*
/* :host {
  background: #f8f8f9;
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: FFUnitStdMedium,Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 18px;
}

.breadcrumb {
  display: inline;
  white-space: nowrap;
  padding-right: 0.25rem;
}

.breadcrumb a {
  font-weight: 400;
  color: #2691D0;
  text-decoration: none;
}

.breadcrumb:after {
  font-weight: 400;
  color: #262262;
  content: "  > ";
  padding-left: 0.15rem
}

.breadcrumb-last a {
  color: #262262;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  font-family: FFUnitStdBold,Arial, Helvetica, sans-serif;
}
*/
