<ng-container *ngIf="node; else noNode">
  <div [ngClass]="[highlightService.getHighlightId() == node.id? 'tree-active':'']" class="tree-row">
    <ng-container *ngIf="node.children; else noChildren">
      <clr-icon tabindex="0" (keydown.enter)="opened=!opened" class="handle" shape="angle" [ngClass]="[opened ? 'opened':'']" (click)="opened=!opened"></clr-icon>
    </ng-container>
    <ng-template #noChildren>
      <div *ngIf="loading" class="spinner spinner-sm loading"></div>
      <div *ngIf="!loading" class="noChildren"></div>
    </ng-template>
    <div tabindex="0" (keydown.enter)="conceptClick(node)" (click)="conceptClick(node); $event.stopPropagation()" >{{node.name}}<span class="count">{{node.count | number}}</span></div> 
  </div>

  <app-spinner-react [loading]="node.group && loading && opened" [dots]="true"></app-spinner-react>

  <div class="children" *ngIf="node.children && opened">
    <div *ngFor="let child of node.children" class="child">
      <app-recursive-tree class="child" (conceptSelected)="conceptClick($event)" [node]="child">
      </app-recursive-tree>
    </div>
  </div>
</ng-container>
<ng-template #noNode>
  <h1>no source tree available</h1>
</ng-template>
