
:host {
    position: relative;
}


.noChildren {
    position: relative;
    margin-right: 1rem;
}

.count {
    background-color: #2991cf;
    color: white;
    border-radius: .5rem;
    font-size: .7em;
    padding: 0.125rem .5rem;
    margin-left: .25rem;
    align-self: center;
}

.hasChildren.opened::before {
    transition: .1s transform linear;
    transform: rotate(45deg);
}

.noChildren {
    position: relative;
    
}
.blue-text {
    color:#216fb4;
}

.children {
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
    font-size: .7rem;
}

.tree-active {
    font-family: gothamBold,Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.handle {
    color:#2991cf;
    transform: rotate(90deg);
    transition: .1s transform linear;
    margin-top: 0.1rem;
}

.handle.opened {
    transition: .1s transform linear;
    transform: rotate(180deg);
}

.tree-row {
    align-items: flex-start;
    display: flex;
    text-align: left;
}

.small-spinner {
    width: .5rem;
    height: .5rem;
}
.loading {
    margin-top: 0.1rem;
    left: -.1rem;
}

