:host {
    margin: auto auto;
    width: 100%;
}

.aka-text {
    width: 170px;
    font-family: FFUnitStdLightItalic,Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(150 150 150);
    display: flex;
    align-items: center;
}

.aka-info {
    opacity: .7;
}

#domain-name {
    padding-bottom: 12px;
    font-size: 30px;
    line-height: 31px;
}

#domain-summary {
    font-size: 23px;
    margin-bottom: 28px;
}

.domain-info-container {
    display: flex;
    align-items: center;
    padding: 0  18px 
}

.top-concepts-chart {
    width: 100%;
    margin: 0 auto;
    display: block;
}


.results-tbl-row-inner {
    width: 100%;
    padding:  18px ;
    padding-bottom: none;
    border-left: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    border-right: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}


.aka {
    padding-left:  9px ;
    padding-top:18px;
    font-size:14px;
}

.aka .info-icon {
    filter: contrast(43%) brightness(165%);
    transform: scale(0.7);
}

.see-more, .see-less {
    display: inline;
    color: #216fb4;
    font-weight: 400;
    position: relative;
    z-index: 100;
}

.row-selected {
    background: #f6f6f8;
}

.results-tbl-row-expanded .results-tbl-row .domain-info-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.tbl-head .tbl-r-group .tbl-d::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    background: url('/assets/icons/divider.svg');
    background-repeat: no-repeat;
    left: -10px;
}

.tbl-r.tbl-head {
    background: #f6f6f8;
    border: 1px solid #CCCCCC;
    border-bottom: none;
}

.icon-btn {
    position: relative;
    right:  18px ;
}


.tbl-r {
    border: none;
}

#answer-result {
    width: 35%;
}

@media (max-width: 600px) {
    .chart-choice {
        font-size: 4vw;
        padding: 2px;
    }
}
