version: 2.1

defaults: &defaults
  docker:
    - image: us.gcr.io/broad-dsp-gcr-public/workbench:buildimage-0.0.29
  working_directory: ~/data-browser
java_defaults: &java_defaults
  <<: *defaults
  environment:
    # As best I can tell (dmohs, 7 Feb '17), this is the only way to set a memory limit that Java
    # processes executed within CircleCI's docker containers will respect. Very helpful resource:
    # https://circleci.com/blog/how-to-handle-java-oom-errors/
    # Gradle itself doesn't usually reach 1G, so as long as we can keep tasks under 3G, we should
    # have room in Circle's 4G to get our work done.
    JAVA_TOOL_OPTIONS: -Xmx3g
    TERM: dumb

commands:
  checkout-code:
    description: "git checkout and update submodules"
    steps:
      - checkout
      - run:
          command: git submodule update --init --recursive

  gcloud-auth-login:
    description: "Activate CircleCI service account credential"
    parameters:
      with_application_default_credentials:
        description: |
          Whether to apply these credentials for Application Default Credentials (ADC).
          This may be necessary to simulate certain local or server-side auth flows.
          This is applied in addition to the normal behavior of this command, which activates
          credentials e.g. for gcloud or gsutil commands.
        type: boolean
        default: false
    steps:
      - run:
          working_directory: ~/data-browser
          command: ci/activate_creds.sh public-api/circle-sa-key.json
      - when:
          condition: << parameters.with_application_default_credentials >>
          steps:
            - run:
                name: Export application default credentials
                command: |
                  echo 'export GOOGLE_APPLICATION_CREDENTIALS=~/data-browser/public-api/circle-sa-key.json' >> $BASH_ENV
                  source $BASH_ENV
                working_directory: ~/data-browser

jobs:
  public-api-local-test:
    docker:
      - image: us.gcr.io/broad-dsp-gcr-public/workbench:buildimage-0.0.29
      - image: mysql:5.7
        environment:
          - MYSQL_ROOT_PASSWORD=ubuntu
          - MYSQL_USER=ubuntu
          - MYSQL_PASSWORD=ubuntu
    resource_class: medium+
    working_directory: ~/data-browser
    environment:
      JAVA_TOOL_OPTIONS: -Xmx3g
      TERM: dumb
      MYSQL_ROOT_PASSWORD: ubuntu
    steps:
      - checkout-code
      - run:
          name: Clean corrupted Gradle cache and refresh dependencies
          working_directory: ~/data-browser/public-api
          command: |
            # Stop any running Gradle daemons
            ./gradlew --stop || true
            
            # Remove corrupted cache
            rm -rf ~/.gradle/caches/jars-9/
            rm -rf ~/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/
            
            # Ensure proper permissions
            mkdir -p ~/.gradle/caches
            chmod -R 755 ~/.gradle/
            
            # Refresh dependencies
            ./gradlew clean --refresh-dependencies
      - restore_cache:
          keys:
            - v7-gradle-cache-{{ checksum "~/data-browser/public-api/build.gradle" }}
            - v7-gradle-cache-
      - run:
          working_directory: ~/data-browser
          command: ci/activate_creds.sh public-api/circle-sa-key.json
      - run:
          # MySQL sometimes refuses connections by the time we attempt to apply
          # data migrations. Watch the port for 2m for startup.
          name: Await MySQL startup
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 2m
      - run:
          working_directory: ~/data-browser/public-api
          command: ./project.rb run-local-migrations
      - run:
          working_directory: ~/data-browser/public-api
          command: ./project.rb start-local-public-api && ./project.rb run-local-public-api-tests && ./project.rb stop-local-public-api
      - save_cache:
          paths:
            - ~/.gradle
            - ~/.m2
            - ~/data-browser/public-api/build/exploded-api/WEB-INF/lib/
          key: v7-gradle-cache-{{ checksum "~/data-browser/public-api/build.gradle" }}

  public-api-build-test:
    <<: *java_defaults
    steps:
      - checkout-code
      - run:
          #Circle is bad about setting up your remotes for you, you must use origin/
          command: |
            if [ ${CIRCLE_BRANCH} != "" ] && [ ${CIRCLE_BRANCH} != "master" ] && [ $(git diff --name-only $(git merge-base origin/master ${CIRCLE_BRANCH}) | grep public-api/ | wc -l | xargs) == 0 ]; then
              echo No relevant changes on non-master branch, skipping
              circleci step halt
            fi
      - restore_cache:
          keys:
            - v7-gradle-cache-{{ checksum "~/data-browser/public-api/build.gradle" }}
            - v7-gradle-cache-
      - run:
          name: Refresh dependencies if cache miss
          working_directory: ~/data-browser/public-api
          command: |
            if [ ! -d ~/.gradle/caches ] || [ ! "$(ls -A ~/.gradle/caches 2>/dev/null)" ]; then
              echo "Cache miss detected, refreshing dependencies..."
              ./gradlew clean --refresh-dependencies
            else
              echo "Cache found, skipping dependency refresh"
            fi
      - run:
          name: Validate swagger definitions
          working_directory: ~/data-browser/public-api
          command: ./project.rb validate-swagger --project-prop verboseTestLogging=yes
      - run:
          name: Integration tests compile
          working_directory: ~/data-browser/public-api
          command: ./project.rb integration
      - run:
          name: Unit tests
          working_directory: ~/data-browser/public-api
          command: ./project.rb test
      - save_cache:
          paths:
            - ~/.gradle
            - ~/.m2
            - ~/data-browser/public-api/build/exploded-api/WEB-INF/lib/
          key: v7-gradle-cache-{{ checksum "~/data-browser/public-api/build.gradle" }}

  public-api-deploy-to-test:
    <<: *java_defaults
    steps:
      - checkout-code
      # Note: most of the time spent here appears to be in Gradle / App Engine
      # deployment. We tried more aggressively caching outputs via Cirlce
      # workspaces, but that seemed to have a negligible effect on speed. It's
      # also tricky to pick specific sub directories since the API deploy
      # touches several top level folders {public,common,}api.
      - restore_cache:
          keys:
            - v7-gradle-cache-{{ checksum "~/data-browser/public-api/build.gradle" }}
            - v7-gradle-cache-
      - run:
          name: Refresh dependencies for deployment
          working_directory: ~/data-browser/public-api
          command: ./gradlew --refresh-dependencies
      - run:
          working_directory: ~/data-browser
          command: ci/activate_creds.sh public-api/circle-sa-key.json
      - deploy:
          name: Deploy to App Engine
          working_directory: ~/data-browser/public-api
          command: |
            ./project.rb deploy \
              --project aou-db-test \
              --account circle-deploy-account@aou-db-test.iam.gserviceaccount.com \
              --version circle-ci-test \
              --key-file circle-sa-key.json \
              --promote

  api-deps-check:
    <<: *java_defaults
    steps:
      - checkout-code
      - run:
          name: Refresh dependencies for security scan
          working_directory: ~/data-browser/public-api
          command: ./gradlew --refresh-dependencies
      - run:
          name: Scan dependencies for vulnerabilities
          working_directory: ~/data-browser/public-api
          command: |
            ./project.rb gradle dependencyCheckAnalyze --info

  public-ui-build-test:
    <<: *defaults
    steps:
      - checkout-code
      - run:
          working_directory: ~/data-browser
          name: Download Swagger CLI
          command: |
            ruby -r ./aou-utils/swagger.rb -e Workbench::Swagger.download_swagger_codegen_cli
      - restore_cache:
          keys:
            - public-ui-cache-{{ checksum "~/data-browser/public-ui/package.json" }}
            - public-ui-cache-
      - gcloud-auth-login
      - run:
          working_directory: ~/data-browser/public-ui
          command: yarn install --frozen-lockfile && yarn codegen
      - save_cache:
          paths:
            - ~/data-browser/public-ui/node_modules
          key: public-ui-cache-{{ checksum "~/data-browser/public-ui/package.json" }}
      - run:
          name: Lint Angular app
          working_directory: ~/data-browser/public-ui
          command: yarn run lint
      - run:
          name: Build with strict compilation
          working_directory: ~/data-browser/public-ui
          command: ./project.rb build --environment test
      - persist_to_workspace:
          root: .
          paths:
            - public-ui

  public-ui-deploy-to-test:
    <<: *defaults
    steps:
      - checkout-code
      - gcloud-auth-login
      # Use the ui-build-test workspace here to avoid redoing the setup.
      - attach_workspace:
          at: .
      - deploy:
          name: Deploy to App Engine
          working_directory: ~/data-browser/public-ui
          command: |
            ../ci/activate_creds.sh circle-sa-key.json
            ./project.rb deploy-ui \
              --project aou-db-test \
              --account circle-deploy-account@aou-db-test.iam.gserviceaccount.com \
              --version circle-ci-test \
              --key-file circle-sa-key.json \
              --promote

  # In staging, we deploy all at once in order to track and control the release
  # for a tagged version only. In "test", we maintain individual release jobs
  # for API and UI to allow faster deploys and because we lack a version tag.
  deploy-staging:
    <<: *defaults
    steps:
      - checkout-code
      - gcloud-auth-login
      - restore_cache:
          keys:
            - v7-gradle-cache-{{ checksum "~/data-browser/public-api/build.gradle" }}
            - v7-gradle-cache-
      - run:
          name: Refresh dependencies for staging deployment
          working_directory: ~/data-browser/public-api
          command: ./gradlew --refresh-dependencies
      - deploy:
          working_directory: ~/data-browser/deploy
          command: |
            ../ci/activate_creds.sh circle-sa-key.json
            ./project.rb deploy \
              --project aou-db-staging \
              --account circle-deploy-account@aou-db-test.iam.gserviceaccount.com \
              --git-version "${CIRCLE_TAG}" \
              --app-version "${CIRCLE_TAG}" \
              --circle-url "https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}" \
              --key-file circle-sa-key.json \
              --promote

# See https://circleci.com/docs/2.0/workflows/#git-tag-job-execution
filter_master: &filter_master
  filters:
    branches:
      only: master
filter_releases: &filter_releases
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.*/

workflows:
  version: 2
  build-test-deploy:
    jobs:
      # Always run basic test/lint/compilation (open PRs, master merge).
      # Note: by default tags are not picked up.
      - public-api-local-test
      - public-ui-build-test
      - public-api-build-test
      # Run deployment to "test" on master merges.
      - public-api-deploy-to-test:
          <<: *filter_master
          requires:
            - public-api-build-test
      - public-ui-deploy-to-test:
          <<: *filter_master
          requires:
            - public-ui-build-test
  deploy-staging:
    jobs:
      - public-ui-build-test:
          <<: *filter_releases
      - public-api-build-test:
          <<: *filter_releases
      - public-api-local-test:
          <<: *filter_releases
      # Run slower integration tests and dep checks on release tags only.
      - api-deps-check:
          <<: *filter_releases
      - deploy-staging:
          <<: *filter_releases
          requires:
            - api-deps-check
            - public-ui-build-test

experimental:
  notify:
    branches:
      only:
        - master