.grid-table .table-head {
    background-color: #FAFAFA;
    border-radius: 3px 3px 0 0;
    border: 1px solid #CCCCCC;
    margin-top: .25rem;
}

.table-head {
    margin-bottom: .25rem;
}

.table-body * {
    background: white;
}

.table-row {
    border: 1px solid #CCCCCC;
    border-bottom: 2px solid;
}

.grid-table {
    font-size: .75em;
}

.head-col-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.body-col-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 4fr;
}

.sub-row-col-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table-row-item {
    height: 100%;
    /* border-right:1px solid; */
    padding: .5rem;
    border: 1px solid #CCCCCC;
    border-left: none;
    border-bottom: none;
}

.table-row-item:last-of-type {
    /* outline: red solid 1px; */
    border-right: none;
}

.table-row-subitems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-head-item {
    padding: .5rem;
    position: relative;
}

.table-head-item::after {
    content: '';
    width: 1rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: -.5rem;
    background: url('/assets/icons/divider.svg');
    background-position: 50%;
    background-repeat: no-repeat;
}

.table-head-item:last-of-type::after {
    content: none;
}