<div class="fm-container">
  <h1>{{title}}</h1>
  <div class="fm-layout">
    <div class="fm-menu">
      <ng-container *ngFor="let menuItem of fitbitConcepts">
        <div class="fm-menu-item-container">
          <div (click)="setGraphs(menuItem)" class="fm-menu-item"
            [ngClass]="{'active': selectedItem == menuItem.conceptName}"> <i class="fas {{menuItem.icon}}"></i>
            <span>{{menuItem.displayName}}</span></div>
        </div>
      </ng-container>
    </div>

    <div class="fm-body db-card">
      <ng-container *ngIf="isLoading">
        <ng-container *ngIf="selectedItem == 'All Fitbit Data'; else otherFitbit">
          <h2> All Fitbit<span class="rr">®</span> Data</h2>
        </ng-container>
        <ng-template #otherFitbit>
          <h2>{{selectedDisplay}}</h2>
        </ng-template>
        <div class="fm-body-top">
          <div class="fm-chart">
            <div class="display-body">Count of participants with
              <ng-container *ngIf="selectedItem == 'All Fitbit Data';else otherChartTitles">
                all Fitbit<span class="rr">®</span> data
                </ng-container>
                <ng-template #otherChartTitles>
                  {{selectedDisplay}}
                </ng-template>
                by date
            </div>
            <chart-fitbit [concepts]='selectedAnalyses.participantCountAnalysis'></chart-fitbit>
          </div>
          <div class="fm-chart">
            <div class="display-body">Sex assigned at birth</div>
            <chart-biosex [concepts]='selectedAnalyses.genderAnalysis'></chart-biosex>
          </div>
        </div>
        <div class="fm-body-bottom">
          <div class="fm-chart">
            <div class="display-body">Age when physical measurement taken</div>
            <chart-age [concepts]='selectedAnalyses.ageAnalysis'></chart-age>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>