
<div class="results-grid" *ngIf="(items && items.length > 0) || (measurementTestsChecked.value === false && measurementOrdersChecked.value === false)">
  <div class="domain-info-layout">
    <span>
      <ng-container *ngIf="totalResults <= searchRequest.maxResults; else show_pages">
        <h5 id="domain-name" class="primary-display">
          Showing top {{totalResults}}
        </h5>
      </ng-container>
      <ng-template #show_pages>
        <h5 id="domain-name" class="primary-display">
          Showing top {{((currentPage-1) * searchRequest.maxResults)+1}} -
          {{items.length + (searchRequest.pageNumber * searchRequest.maxResults)}} of {{totalResults}}
        </h5>
      </ng-template>
      <ng-container *ngIf="!searchText.value; else no_search_term">
        <h5 id="domain-name" class="primary-display">
          concepts for this domain
          <clr-tooltip (mouseenter)="hoverOnTooltip('EHR Tooltip Hover', null, 'Matching medical concepts tooltip hover')">
            <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
            <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
              <div class="tooltip-label">{{tooltipText.matchingConceptsHelpText1}}</div>
            </clr-tooltip-content>
          </clr-tooltip>
        </h5>
      </ng-container>
      <ng-template #no_search_term>
        <h5 id="domain-name" class="primary-display" *ngIf="searchText.value">
          matching medical concepts
          <clr-tooltip (mouseenter)="hoverOnTooltip('EHR Tooltip Hover', null, 'Matching medical concepts tooltip hover')">
            <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
            <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
              <div class="tooltip-label">{{tooltipText.matchingConceptsHelpText2}}</div>
            </clr-tooltip-content>
          </clr-tooltip>
        </h5>
      </ng-template>
    </span>
    <h6 *ngIf="searchText.value" class="primary-display medline-link">Interested in general
      health information related to "{{getTerm()}}"?
      <br /><a href="{{medlinePlusLink}}" target="_blank">Search MedlinePlus</a></h6>
  </div>
  <div *ngIf="items.length === 1 && items[0].standardConcept != 'S' && standardConcepts.length > 0">
    <div class=" db-alert">
      <clr-alert [clrAlertClosable]="false" [clrAlertType]="info">
        Note: {{items[0].vocabularyId}} {{items[0].conceptCode}} "{{items[0].conceptName}}"
        maps to Standard Vocabulary {{standardConcepts[0].vocabularyId}}
        {{standardConcepts[0].conceptCode}}.
        Standard vocabularies capture data across a variety of source vocabularies.
      </clr-alert>
    </div>
  </div>
  <div class="tbl-r tbl-head">
    <div class="tbl-d body-lead"> {{ehrDomain.name}}
      <clr-tooltip (mouseenter)="hoverOnTooltip('EHR Tooltip Hover', null, 'Domain name tooltip hover in matching concepts table')">
        <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition=bottom-right clrSize="lg" *clrIfOpen>
          <div class="tooltip-label">{{tooltipText.domainHelpText[ehrDomain.domain.toLowerCase()]}}</div>
        </clr-tooltip-content>
      </clr-tooltip>
    </div>
    <div class="tbl-d body-lead"> Participants of {{totalParticipants | number}}
      <clr-tooltip (mouseenter)="hoverOnTooltip('EHR Tooltip Hover', null, 'Participant count tooltip hover')">
        <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition=bottom-left clrSize="lg" *clrIfOpen>
          <div class="tooltip-label">{{tooltipText.participantCountHelpText}}</div>
        </clr-tooltip-content>
      </clr-tooltip>
    </div>
    <div class="tbl-d body-lead"> % of
      {{totalParticipants | number}}
      <clr-tooltip (mouseenter)="hoverOnTooltip('EHR Tooltip Hover', null, 'Percentage of participant count tooltip hover')">
        <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition=bottom-left clrSize="lg" *clrIfOpen>
          <div class="tooltip-label">The overall participant count of this medical concept divided
            by the total number of participants
          </div>
        </clr-tooltip-content>
      </clr-tooltip>
    </div>
     <div class="tbl-d body-lead info-text" *ngIf="ehrDomain.domain.toLowerCase() === 'measurement'">
        Data Type
        <div class="dropdown bottom-left" [ngClass]="selectedFilterGrid?'open':''">
          <button class="dropdown-toggle">
            <clr-icon shape="filter-grid" class="filter-grid-icon" (click)="filterMeasurementDataTypes()" [ngClass]="selectedFilterGrid?'is-solid':''"></clr-icon>
          </button>
          <div class="dropdown-menu">
            <div class="clr-checkbox-wrapper">
              <input type="checkbox" id="checkbox1" class="clr-checkbox" [(ngModel)]="isChecked1" (change)="checkBoxClick('tests', isChecked1)"
              [formControl]="measurementTestsChecked" [checked]="checkMeasurementTests()">
              <label for="checkbox1"><i class="fas fa-vial fa-rotate-45"></i> Tests</label>
            </div>
            <div class="clr-checkbox-wrapper">
              <input type="checkbox" id="checkbox2" class="clr-checkbox" [(ngModel)]="isChecked2" (change)="checkBoxClick('orders', isChecked2)"
              [formControl]="measurementOrdersChecked" [checked]="checkMeasurementOrders()">
              <label for="checkbox2"><i class="far fa-file-signature"></i> Orders</label>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div [attr.id]="'c'+r.conceptId" class="tbl-exp-r "
    [ngClass]="selectedConcept && selectedConcept.conceptCode == r.conceptCode?'row-selected':''"
    *ngFor="let r of standardConcepts.concat(items) | paginate: { itemsPerPage: searchRequest.maxResults, currentPage: currentPage, totalItems: totalResults }, let i = index">
    <div [ngClass]="ehrDomain.domain === 'MEASUREMENT'?'tbl-r_labs':'tbl-r'"  (click)="expandRow(r)">
      <div class="body-lead tbl-d"
        *ngIf="searchResult.matchType === 'CONCEPT_CODE' && r.conceptId === searchResult.sourceOfStandardConcepts; else code_match_standard">
        <div class="code-tooltip">
          <app-highlight-search [text]="r.conceptName" [searchTerm]="prevSearchText" [isSource]="true">
          </app-highlight-search>
        </div>
      </div>
      <ng-template #code_match_standard>
        <div class="body-lead tbl-d"
          *ngIf="searchResult.matchType === 'CONCEPT_CODE' && standardConceptIds && standardConceptIds.indexOf(r.conceptId) > -1;else code_match_not_standard">
          <div class="code-tooltip"
            *ngIf="searchResult.matchType === 'CONCEPT_CODE' && standardConceptIds && standardConceptIds.indexOf(r.conceptId) > -1;else code_match_not_standard">
            <app-highlight-search [isStandard]="true" [text]="r.conceptName" [searchTerm]="prevSearchText">
            </app-highlight-search>
          </div>
        </div>
      </ng-template>
      <ng-template #code_match_not_standard>
        <div class="body-lead tbl-d">
          <div class="code-tooltip">
            <span *ngIf="totalResults > searchRequest.maxResults" class="item-index">
              {{i+((currentPage-1) * searchRequest.maxResults)+1}}.
            </span>
            <span *ngIf="totalResults <= searchRequest.maxResults" class="item-index">{{i+1}}.</span>
            <app-highlight-search [text]="r.conceptName" [searchTerm]="prevSearchText">
            </app-highlight-search>
          </div>
        </div>
      </ng-template>

      <div class="body-lead tbl-d" *ngIf="checkCount(r.countValue); else Non20Counts;">
        &le; {{r.countValue | number}}
      </div>
      <ng-template #Non20Counts>
        <div class="body-lead tbl-d">
          {{r.countValue | number}}
        </div>
      </ng-template>
      <div class="body-lead tbl-d">
        {{participantPercentage(r.countValue) | number}}%
      </div>
      <ng-template #noConceptSynonyms>
        <div class="body-lead tbl-d"></div>
      </ng-template>
    <div class="body-lead tbl-d" *ngIf="ehrDomain.domainConceptId === 21">
          <span *ngIf="r.measurementConceptInfo !== null && r.measurementConceptInfo.hasValues == 1; else labOrder" class="vial-span">
            <clr-tooltip>
              <i class="fas fa-vial solid fa-lg" clrTooltipTrigger></i>
          <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
            <div class="tooltip-header">
              This code contains values. Search the medical concept keyword to see related Labs & Measurements results.</div>
          </clr-tooltip-content>
        </clr-tooltip>
          </span>
          <ng-template #labOrder><span class="order-span">
            <clr-tooltip>
              <i class="far fa-file-signature regular fa-lg" clrTooltipTrigger></i>
          <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
            <div class="tooltip-header">
              This code contains orders. Search the medical concept keyword to see related Labs & Measurements results.</div>
          </clr-tooltip-content>
            </clr-tooltip>
            </span></ng-template>
        </div>
      <div class="body-lead tbl-d icon-btn-group">
        <button (click)="checkIfExpanded(r,$event);$event.stopPropagation()"  class="icon-btn">
          <clr-icon [ngClass]="expanded && selectedConcept && selectedConcept.conceptCode == r.conceptCode && graphToShow != 'Sources'?'is-solid':''"
            shape="bar-chart" class="icon-choice">
          </clr-icon>
        </button>
        <button (click)="checkIfExpanded(r,$event,true);$event.stopPropagation()" class="icon-btn icon-choice">
          <div
            [ngClass]="expanded && selectedConcept && selectedConcept.conceptCode == r.conceptCode && graphToShow == 'Sources'?'source-btn_active':'source-btn'">
          </div>
        </button>
        <clr-dropdown>
        <button clrDropdownTrigger aria-label="share button" (click)="$event.stopPropagation()"class="icon-btn">
          <clr-icon shape="share" class="is-solid icon-choice">
          </clr-icon>
        </button>
        <clr-dropdown-menu (click)="$event.stopPropagation()" style="width: 10rem; text-align: left;"clrPosition="bottom-right" *clrIfOpen>
          <button clrDropdownItem (click)="share(r.conceptName,$event);$event.stopPropagation()" class="btn btn-sm">Copy link to clipboard</button>
        </clr-dropdown-menu>
      </clr-dropdown>
      </div>
    </div>
    <div *ngIf="synonymString[r.conceptId]" (click)="expandRow(r)" class="body-lead aka-layout aka">
      <div *ngIf="r.conceptSynonyms;else noConceptSynonyms" (click)="$event.stopPropagation();toggleSynonyms(r)"
        class="aka-text">
        <span>Also Known As</span>
        <clr-tooltip (mouseenter)="hoverOnTooltip('EHR Tooltip Hover', null, 'Concept synonyms tooltip hover on concept ' + r.conceptName)">
          <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon aka-info">
          </clr-icon>
          <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
            <div class="tooltip-header">
              Medical concepts often have alternative names and descriptions, known as synonyms.
              Alternate names and descriptions,
              if available, are listed for each medical concept.</div>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>

      <app-highlight-search (click)="toggleSynonyms(r);$event.stopPropagation()" class="aka-body"
        *ngIf="!showMoreSynonyms[r.conceptId]" [text]="synonymString[r.conceptId].substring(0,100)"
        [searchTerm]="prevSearchText">
      </app-highlight-search>
      <app-highlight-search (click)="toggleSynonyms(r);$event.stopPropagation()" class="aka-body"
        *ngIf="showMoreSynonyms[r.conceptId]" [text]="synonymString[r.conceptId]" [searchTerm]="prevSearchText">
      </app-highlight-search>
      <a tabindex="0" (keydown.enter)="toggleSynonyms(r);$event.stopPropagation()"  (click)="toggleSynonyms(r);$event.stopPropagation()" class="toggle-link see-less"
        *ngIf="synonymString[r.conceptId].length > 100 && showMoreSynonyms[r.conceptId]; else seeMore">
        See
        Less
      </a>
      <ng-template #seeMore>
        <a tabindex="0" (keydown.enter)="toggleSynonyms(r);$event.stopPropagation()"  (click)="toggleSynonyms(r);$event.stopPropagation()" class="toggle-link see-more"
          *ngIf="synonymString[r.conceptId].length > 100">
          <clr-icon shape="ellipsis-horizontal"></clr-icon> See More
        </a>
      </ng-template>
    </div>
    <div *ngIf="drugBrands[r.conceptId]" (click)="expandRow(r)" class="body-lead aka-layout aka">
      <div *ngIf="r.drugBrands;else noDrugBrands" (click)="$event.stopPropagation();toggleDrugBrands(r)"
           class="aka-text">
        <span>Found in these commercially branded products</span>
      </div>
      <app-highlight-search (click)="toggleDrugBrands(r);$event.stopPropagation()" class="aka-body"
                            *ngIf="!showMoreDrugBrands[r.conceptId]" [text]="drugBrands[r.conceptId].slice(0, 10).join(', ')"
                            [searchTerm]="prevSearchText">
      </app-highlight-search>
      <app-highlight-search (click)="toggleDrugBrands(r);$event.stopPropagation()" class="aka-body"
                            *ngIf="showMoreDrugBrands[r.conceptId]" [text]="drugBrands[r.conceptId].join(', ')" [searchTerm]="prevSearchText">
      </app-highlight-search>
      <a tabindex="0" (keydown.enter)="toggleDrugBrands(r);$event.stopPropagation()"  (click)="toggleDrugBrands(r);$event.stopPropagation()" class="toggle-link see-less"
         *ngIf="drugBrands[r.conceptId].length > 10 && showMoreDrugBrands[r.conceptId]; else seeMore">
        See
        Less
      </a>
      <ng-template #seeMore>
        <a tabindex="0" (keydown.enter)="toggleDrugBrands(r);$event.stopPropagation()"  (click)="toggleDrugBrands(r);$event.stopPropagation()" class="toggle-link see-more"
           *ngIf="drugBrands[r.conceptId].length > 10">
          <clr-icon shape="ellipsis-horizontal"></clr-icon> See More
        </a>
      </ng-template>
    </div>
    <div class="row-expansion" *ngIf="expanded && searchRequest && selectedConcept && selectedConcept.conceptCode == r.conceptCode"
      #chartElement>
      <div class="graph-menu">
        <div *ngFor="let g of getGraphButtons(r)" [ngClass]="{'active':graphToShow === g}"
        tabindex="0" (keydown.enter)="selectGraph(g, r)" (click)="selectGraph(g, r)" class="chart-choice">
            <span>{{g}}</span>
            <clr-tooltip (mouseenter)="hoverOnTooltip('EHR Tooltip Hover', null, 'Concept graph ' + g + ' tooltip hover on concept ' + r.conceptName)">
              <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
              <clr-tooltip-content clrPosition="{{toolTipPos(g)}}" clrSize="lg" *clrIfOpen>
                <div class="tooltip-label">{{showToolTip(g)}}</div>
              </clr-tooltip-content>
            </clr-tooltip>
        </div>
      </div>
      <ng-container *ngIf="graphToShow === graphType.Sources; else NonSourceCharts">
        <app-sources (exploreConcept)="exploreConcept.emit($event)" [ehrDomain]="ehrDomain" [graphToShow]="graphToShow" [treeData]="treeData" [treeLoading]="treeLoading" [concept]="r" ></app-sources>

      </ng-container>
      <ng-template #NonRolledUp>
        <div class="graph-item">
          <app-concept-charts [concept]="r" [showGraph]="graphToShow" [backgroundColor]="'#ECF1F4'">
          </app-concept-charts>
        </div>
      </ng-template>
      <ng-template #NonSourceCharts>
        <div class="graph-item">
          <app-concept-charts [concept]="r" [showGraph]="graphToShow" [backgroundColor]="'#ECF1F4'">
          </app-concept-charts>
        </div>
      </ng-template>
    </div>
  </div>
</div>