strong {
    font-family: 'Gotham A','Gotham B','GothamBook','Helvetica Neue', sans-serif;
    color: #302C71;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding:18px;
}

.search-title {
    white-space: nowrap;
    display: flex;
}

.search-title .info-icon {
    margin: 0.6em 0.5em 0.1em;
}

.results {
    padding:18px;
}

.result-heading {
    font-size: 23px;
    margin: 0;
    padding: 9px;
    padding-left: 0;
}

.result-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-grow: 1;
}

.result-box {
    display: flex;
    flex-direction: column;
    min-width: calc(((100%/12)*3) - 14px);
    max-width: calc(((100%/12)*3) - 18px);
    margin-right: 18px;
    padding: 18px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

.result-box-title {
    color: #337AB7;
    font-family: FFUnitStdMedium, Arial, Helvetica, sans-serif;
    display: flex;
    padding-bottom:3px;
    margin:0;
}

.result-box-title .info-icon {

}

.result-box:last-of-type {
    margin-right: 0;
}

.result-stat {
    color: #302C71;
    font-family: 'Gotham A','Gotham B','GothamBook','Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 1em;
}

.result-body {
    color: #302C71;
    font-family: 'Gotham A','Gotham B','GothamBook','Helvetica Neue', sans-serif;
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.result-body-item {
    padding: 6px 0;
}
.result-body-item:last-child {
    margin-top:auto;
}

.result-bottom-link {
    font-size: 15px;
    color: #337AB7;
    cursor: pointer;
}

.result-bottom-link:hover {
    color: #262262;
}
.result-bottom-link:hover {
    color:#262262;
}
#pm-box {
    max-width: 100%;
    padding-top: 9px;
}
@media only screen and (min-width: 768px) {
  #pm-box {
    max-width: calc(50%);
  }
}

@media only screen and (min-width: 1168px) {
  #pm-box {
      max-width: calc(((100%/12)*5));
    }
}
#pm-box .result-body {
    margin: 0;
}

#pm-box .result-body {
    margin: 0;
    padding-top:9px;
}

@media (max-width: 900px) {
    .result-box {
        min-width: calc(((100%/12)*6) - 9px);
        margin-bottom:18px;
    }
    .result-box:nth-of-type(2) {
        margin-right: 0;
    }
}
