<div class="db-container">
  <div class="db-header">
    <div>
      <h1 id='db-title' class="primary-display ">Data Browser</h1>
      <p id="db-desc" class="body-default">The Data Browser provides interactive views of the publicly available
        <em>All of Us</em> Research Program participant data. Currently, participant provided
         information, including surveys
       and physical measurements taken at the time of participant enrollment
       (“program physical measurements”), as well as electronic health record (EHR) data are
        available. The <em>All of Us</em> Research Program data resource will grow to include
         more data types over time.</p>
    </div>
  </div>
  <div class="search">
    <div class="search-title">
      <span class="secondary-display">{{title}}</span>
      <clr-tooltip>
        <clr-icon clrTooltipTrigger shape="info-standard" size="18" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
          <div class="tooltip-label">{{subTitle}}
          </div>
        </clr-tooltip-content>
      </clr-tooltip>
    </div>
    <div id="db-search-bar">
      <clr-icon shape="search" class="is-info search-icon"></clr-icon>
      <input type="text" id="search-db" placeholder="Keyword Search" [formControl]="searchText" autofocus>
    </div>
  </div>
  <!-- todo: better loading icon -->
  <div class="row" *ngIf="loading">
    <div class="col-xs-12 flex-xs-middle" style="text-align: center">
      <span class="spinner">
        Loading...
      </span>
    </div>
  </div>
  <section class="results">
    <h5 class="result-heading secondary-display" style="display:block" *ngIf="showDataType(EHR_DATATYPE)"> EHR Domains:
      <clr-tooltip>
        <clr-icon clrTooltipTrigger shape="info-standard" size="18" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
          <div class="tooltip-header">EHR Domains</div>
          <div class="tooltip-label">{{tooltipText.ehrDomainHelpText}}
          </div>
        </clr-tooltip-content>
      </clr-tooltip>
    </h5>
    <div class="result-boxes" *ngIf="showDataType(EHR_DATATYPE)">
      <div class="result-box" *ngFor="let r of domainResults">
        <p class="result-box-title">
          {{r.name}}
          <clr-tooltip>
            <clr-icon clrTooltipTrigger shape="info-standard" size="18" class="is-solid info-icon"></clr-icon>
            <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
              <div class="tooltip-label">{{tooltipText.domainHelpText[r.domain.toLowerCase()]}}</div>
            </clr-tooltip-content>
          </clr-tooltip>
        </p>
        <div class="result-body">
          <span class="result-body-item">
            <div class="result-stat">
              {{r.standardConceptCount | number}}
            </div>
            <span *ngIf="searchText.value">matching medical concepts</span>
            <span *ngIf="!searchText.value">medical concepts</span>
          </span>
          <span class="result-body-item result-body-stat" *ngIf="r.participantCount">
            <span><strong> {{r.participantCount | number}}</strong> participants in this domain
            </span>
          </span>
          <div class="result-body-item">
            <a [routerLink]="'ehr/'+r.domain.toLowerCase()" *ngIf="!searchText.value" class="result-bottom-link"
              (click)="viewEhrDomain(r)">
              View Top 100 </a>
            <a [routerLink]="'ehr/'+r.domain.toLowerCase()" *ngIf="searchText.value" class="result-body-link"
              (click)="viewEhrDomain(r)"> View Results </a>
          </div>
        </div>
      </div>
      <div class="col col-xs-12" *ngIf="! domainResults || domainResults.length === 0">
        <h6> No EHR Data Results.</h6>
      </div>
    </div>
    <h5 class="result-heading secondary-display" *ngIf="showDataType(SURVEY_DATATYPE)"> Survey Questions: </h5>
    <div id="survey" class="result-boxes" *ngIf="showDataType(SURVEY_DATATYPE)">
      <div class="result-box" *ngFor="let r of surveyResults">
        <p class="result-box-title">
          {{r.name}}
          <clr-tooltip>
            <clr-icon clrTooltipTrigger shape="info-standard" size="18" class="is-solid info-icon"></clr-icon>
            <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
              <div class="tooltip-label">{{tooltipText.domainHelpText[r.name.toLowerCase()]}}</div>
            </clr-tooltip-content>
          </clr-tooltip>
        </p>
        <div class="result-body">
          <div class="result-body-item">
            <div class="result-stat">
              {{r.questionCount | number}}
            </div>
            <span *ngIf="searchText.value">matching survey questions</span>
            <span *ngIf="!searchText.value">survey questions</span>
          </div>
          <span class="result-body-item result-body-stat" *ngIf="r.participantCount">
              <span><strong> {{r.participantCount | number}}</strong> participants in this domain
              </span>
            </span>
          <div class="result-body-item">
            <span>{{r.description}}</span>
          </div>
          <div class="result-body-item">
            <a *ngIf="!searchText.value" class="result-bottom-link" (click)="viewSurvey(r)">
              View Complete Survey </a>
            <a *ngIf="searchText.value" class="result-bottom-link" (click)="viewSurvey(r)"> View Results </a>
          </div>
        </div>
      </div>
      <!-- toDO: style noresults -->
      <div class="col-xs-12" *ngIf="! surveyResults || surveyResults.length === 0">
        <h6> No Survey Results.</h6>
      </div>
    </div>
    <h5 class="result-heading secondary-display"
      *ngIf="showDataType(PROGRAM_PHYSICAL_MEASUREMENTS) && matchPhysicalMeasurements(searchText.value)>0"> Program
      Physical Measurements: </h5>
    <div class="result-boxes"
      *ngIf="showDataType(PROGRAM_PHYSICAL_MEASUREMENTS) && matchPhysicalMeasurements(searchText.value)>0">
      <div id="pm-box" class="result-box">
        <p class="result-box-title">
          Physical Measurements
          <clr-tooltip>
            <clr-icon clrTooltipTrigger shape="info-standard" size="18" class="is-solid info-icon"></clr-icon>
            <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
              <div class="tooltip-label">{{tooltipText.physicalMeasurements}}</div>
            </clr-tooltip-content>
          </clr-tooltip>
        </p>
        <p class="result-body">
          <span>Participants have the option to provide a standard set of physical measurements as part
            of the enrollment process (“program physical measurements”).
            Use this tool to browse distributions of measurement values and counts,
            grouped by age at occurrence and gender, for each program physical measurement.</span>
        </p>
        <div class="result-stat">
          {{matchPhysicalMeasurements(searchText.value)}}
        </div>
        <span *ngIf="searchText.value; else no_search_value_pm">matching physical measurements</span>
        <ng-template #no_search_value_pm><span>physical measurements</span></ng-template>
        <div class="result-bottom">
          <a class="result-bottom-link" [routerLink]="['physical-measurements']"
            [queryParams]="{searchString: searchText.value}"> View Program Physical Measurements </a>
        </div>
      </div>

    </div>
  </section>

</div>