<div class="db-container">
  <div class="survey-view">
    <div class="page-header">
      <div class="title-container" *ngIf="survey && survey.conceptId">
        <h1> {{survey.name}} </h1>
        <span class="desc-container">
          <p class="body-default info-text">{{survey.description}} </p>
          <p class="info-text"><em>Click on each response to view branching logic and age and gender</em></p>
        </span>
      </div>
      <div class="info-text"> Note: The survey questions appear in the order in which people actually took the survey.
      </div>
    </div>
    <div class="search-bar-container">
      <div id="db-search-bar">
        <clr-icon shape="search" class="is-info search-icon"></clr-icon>
        <input type="text" id="search-db" placeholder="Keyword Search" [formControl]="searchText" style="height:auto" autofocus>
      </div>
    </div>
    <section class="results">
      <a class="btn btn-link btn-sm" [routerLink]="['']">
        < Back to main search </a> <div class="db-card">
          <div class="survey-head">
            <div class="stat-container">
              <h2 class="secondary-display" *ngIf="!loading">
                {{survey.participantCount | number }}
              </h2>
              <p class="info-text">
                Participants completed this survey
              </p>
            </div>
            <div class="stat-container">
              <h2 *ngIf="!loading" class="secondary-display">
                <span>{{ surveyResult.items.length }} </span>
              </h2>
              <span *ngIf="loading" class="spinner spinner-md"> </span>
              <p class="info-text">
                Questions
              </p>
            </div>
            <div class="pdf-link">
              <a href="{{surveyPdfUrl}}" download>
                <clr-icon shape="file" class="has-badge is-solid"></clr-icon> Download Survey as PDF
              </a>
            </div>
          </div>
          <div class="info-text"><em>Note: The survey questions appear in the order in which people actually took the survey.</em> </div>
          <div class="no-results" *ngIf="searchText.value.length > 0">
            <p class="results-heading no-results" *ngIf="questions.length === 0 && !loading">
              <span *ngIf="searchMethod === 'and'"> No questions match *ALL* keywords: <strong>
                  {{searchText.value}}</strong>.
                <span class="search-extra"> <button class="btn btn-link" (click)="setSearchMethod('or')">Match any
                    keyword</button> </span>
              </span>
              <span *ngIf="searchMethod === 'or'"> No questions match any of the keywords: <strong>
                  {{searchText.value}}</strong>.
                <span class="search-extra"> <button class="btn btn-link" (click)="setSearchMethod('or', true)">Reset
                    search</button></span>
              </span>
            </p>
            <p class="results-heading body-default" *ngIf="questions.length > 0 && !loading">
              <span *ngIf="searchMethod==='or'">
                <b> {{questions.length}} </b> questions match <b>*ANY*</b> keyword: <strong>{{searchText.value}}</strong>.
                <button class="btn btn-link" (click)="setSearchMethod('and')">Match all keywords</button>
              </span>
              <span *ngIf="searchMethod==='and'">
                <span> <b> {{questions.length}} </b> questions match <b>*ALL*</b> keywords:
                  <strong>{{searchText.value}}</strong>.</span>
                <button class="btn btn-link" (click)="setSearchMethod('or')">Match any keyword</button>
              </span>
            </p>
          </div>
          <div class="survey-results" *ngIf="resultsComplete">
            <div class="question-result" *ngFor="let q of questions, let i = index">
              <div class="secondary-display">
                <div class="box-title"> Question {{q.actualQuestionNumber}}</div>
                <div class="body-default">
                  <app-highlight-search [text]="q.conceptName" [searchTerm]="searchText.value">
                </app-highlight-search>
              </div>
              </div>
              <div class="see-answers body-lead" (click)="toggleAnswer(q.conceptId)"> See Answers
                <clr-icon *ngIf="!showAnswer[q.conceptId]" shape="caret" dir="right"></clr-icon>
                <clr-icon *ngIf="showAnswer[q.conceptId]" shape="caret" dir="down"></clr-icon>
              </div>
              <div class="tbl" [hidden]="!showAnswer[q.conceptId]">
                <div class="tbl-r tbl-head">
                  <div class=" info-text first tbl-d">
                  </div>
                  <div class="tbl-r-group tbl-r-group-style ">
                    <div class="info-text tbl-d display-body">
                      Concept Code
                      <clr-tooltip>
                        <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
                        <clr-tooltip-content clrPosition=bottom-left clrSize="lg" *clrIfOpen>
                          <div class="tooltip-label">{{tooltipText.conceptCodeHelpText}}</div>
                        </clr-tooltip-content>
                      </clr-tooltip>
                    </div>
                    <div class=" info-text tbl-d display-body">
                      Participant Count
                    </div>
                    <div class=" info-text tbl-d display-body">
                      % Answered
                    </div>
                    <div class="tbl-d display-body"></div>
                  </div>
                </div>
                <div [ngClass]="a.expanded?'tbl-r-state':''" class="tbl-exp-r "
                  *ngFor="let a of q.countAnalysis.surveyQuestionResults" (click)="showAnswerGraphs(a)"
                  [hidden]="!showAnswer[q.conceptId]">
                  <div class="tbl-r">
                    <div class="tbl-d first display-body info-text">
                      <div>
                        <app-highlight-search [text]="a.stratum4" [searchTerm]="searchText.value">
                        </app-highlight-search>
                      </div>
                    </div>
                    <div class="tbl-r-group">
                      <div class="info-text tbl-d display-body info-text">
                        <label class="concept-code">{{a.stratum3}}</label>
                      </div>

                      <div class="info-text tbl-d display-body info-text">
                        <label class="participant-count">{{a.countValue | number}} </label>
                      </div>

                      <div class=" info-text tbl-d display-body info-text">
                        <span>{{a.countPercent.toFixed(2)}}%</span>
                      </div>

                      <div class=" info-text tbl-d display-body info-text display-body info-text graph-btn">
                        <button class="icon-btn" *ngIf="!a.subQuestions">
                          <clr-icon shape="bar-chart" style="height: 1rem; width: 1rem;color: #2691D0;"></clr-icon>
                        </button>
                        <button class="icon-btn" *ngIf="a.subQuestions">
                          <clr-icon *ngIf="!a.expanded" shape="caret" dir="right"></clr-icon>
                          <clr-icon *ngIf="a.expanded" shape="caret" dir="down"></clr-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="row-expansion" *ngIf="a.expanded && a.stratum4.toLowerCase() != 'did not answer' && !a.subQuestions"
                       (mouseenter)="getGraphIntoView('chartElement')" #chartElement>
                    <app-survey-chart [graphButtons]="graphButtons" [question]="q" [selectedAnalysis]="q.selectedAnalysis" [selectedResult]="a"></app-survey-chart>
                  </div>
                  <div class="row-expansion sub-table-1" *ngIf="a.expanded && a.subQuestions">
                    <ng-container *ngFor="let subQuestion of a.subQuestions, let j = index">
                      <h6 class="sub-question-text">
                        <clr-icon shape="child-arrow" size="25"></clr-icon> {{subQuestion.conceptName}}
                      </h6>
                      <div class="tbl-r sub-tbl-1">
                        <div class="tbl-d first display-body info-text survey-question-heading">
                          ANSWER
                        </div>
                        <div class="tbl-r-group">
                          <div class="tbl-d display-body info-text survey-question-heading">
                            <label class="concept-code">Concept Code</label>
                          </div>

                          <div class="tbl-d display-body info-text survey-question-heading">
                            <label class="participant-count">Participant Count</label>
                          </div>

                          <div class="tbl-d display-body info-text survey-question-heading">
                            <span>% Answered</span>
                          </div>

                          <div class=" info-text tbl-d display-body info-text display-body info-text graph-btn">

                          </div>
                        </div>
                      </div>
                      <div class="tbl-exp-r sub-tbl-1"
                           *ngFor="let sqa of subQuestion.countAnalysis.surveyQuestionResults" (click)="$event.stopPropagation();showAnswerGraphs(sqa)">
                        <div class="tbl-r">
                          <div class="tbl-d first display-body info-text sub-1-que">
                            <div>
                              <app-highlight-search [text]="sqa.stratum4" [searchTerm]="searchText.value">
                              </app-highlight-search>
                            </div>
                          </div>
                          <div class="tbl-r-group">
                            <div class="info-text tbl-d display-body info-text">
                              <label class="concept-code">{{sqa.stratum3}}</label>
                            </div>

                            <div class="info-text tbl-d display-body info-text">
                              <label class="participant-count">{{sqa.countValue | number}} </label>
                            </div>

                            <div class=" info-text tbl-d display-body info-text">
                              <span>{{countPercentage(sqa.countValue).toFixed(2)}}%</span>
                            </div>

                            <div class=" info-text tbl-d display-body info-text display-body info-text graph-btn">
                              <button class="icon-btn" *ngIf="!sqa.subQuestions" (click)="showSubAnswerGraphs(sqa)">
                                <clr-icon shape="bar-chart" style="height: 1rem; width: 1rem;color: #2691D0;"></clr-icon>
                              </button>
                              <button class="icon-btn" *ngIf="sqa.subQuestions" (click)="showSubAnswerGraphs(sqa)">
                                <clr-icon *ngIf="!sqa.subExpanded" shape="caret" dir="right"></clr-icon>
                                <clr-icon *ngIf="sqa.subExpanded" shape="caret" dir="down"></clr-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="row-expansion" *ngIf="sqa.subExpanded && sqa.stratum4.toLowerCase() != 'did not answer' && !sqa.subQuestions"
                             (mouseenter)="getGraphIntoView('subChartElement1')" #subChartElement1>
                          <app-survey-chart [graphButtons]="graphButtons" [question]="subQuestion" [selectedAnalysis]="subQuestion.selectedAnalysis" [selectedResult]="sqa"></app-survey-chart>
                        </div>
                        <div class="row-expansion sub-table-2" *ngIf="sqa.subExpanded && sqa.subQuestions">
                          <ng-container *ngFor="let subQuestion2 of sqa.subQuestions">
                            <h6 class="sub-question-text" *ngIf="sqa.stratum4 !== subQuestion2.conceptName">
                              <clr-icon shape="child-arrow" size="25"></clr-icon> {{subQuestion2.conceptName}}
                            </h6>
                            <div class="tbl-r">
                              <div class="tbl-d first display-body info-text survey-question-heading">
                                ANSWER
                              </div>
                              <div class="tbl-r-group">
                                <div class="info-text tbl-d display-body info-text survey-question-heading">
                                  <label class="concept-code">Concept Code</label>
                                </div>

                                <div class="info-text tbl-d display-body survey-question-heading">
                                  <label class="participant-count">Participant Count</label>
                                </div>

                                <div class=" info-text tbl-d display-body survey-question-heading">
                                  <span>% Answered</span>
                                </div>

                                <div class=" info-text tbl-d display-body info-text display-body info-text graph-btn">

                                </div>
                              </div>
                            </div>
                            <div class="tbl-exp-r"
                                 *ngFor="let sqa2 of subQuestion2.countAnalysis.surveyQuestionResults" (click)="$event.stopPropagation();showAnswerGraphs(sqa2)">
                              <div class="tbl-r">
                                <div class="tbl-d first display-body info-text">
                                  <div>
                                    <app-highlight-search [text]="sqa2.stratum4" [searchTerm]="searchText.value">
                                    </app-highlight-search>
                                  </div>
                                </div>
                                <div class="tbl-r-group">
                                  <div class="info-text tbl-d display-body info-text">
                                    <label class="concept-code">{{sqa2.stratum3}}</label>
                                  </div>

                                  <div class="info-text tbl-d display-body info-text">
                                    <label class="participant-count">{{sqa2.countValue | number}} </label>
                                  </div>

                                  <div class=" info-text tbl-d display-body info-text">
                                    <span>{{countPercentage(sqa2.countValue).toFixed(2)}}%</span>
                                  </div>

                                  <div class=" info-text tbl-d display-body info-text display-body info-text graph-btn">
                                    <button class="icon-btn" *ngIf="!sqa2.subQuestions" (click)="showSubAnswerGraphs(sqa2)">
                                      <clr-icon shape="bar-chart" style="height: 1rem; width: 1rem;color: #2691D0;"></clr-icon>
                                    </button>
                                    <button class="icon-btn" *ngIf="sqa2.subQuestions">
                                      <clr-icon *ngIf="!sqa.expanded" shape="caret" dir="right"></clr-icon>
                                      <clr-icon *ngIf="sqa.expanded" shape="caret" dir="down"></clr-icon>
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="row-expansion" *ngIf="sqa2.subExpanded && sqa2.stratum4.toLowerCase() != 'did not answer' && !sqa2.subQuestions"
                                   (mouseenter)="getGraphIntoView('subChartElement2')" #subChartElement2>
                                <app-survey-chart [graphButtons]="graphButtons" [question]="subQuestion2" [selectedAnalysis]="subQuestion2.selectedAnalysis" [selectedResult]="sqa2"></app-survey-chart>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
</div>


<!-- Todo show general totals for demographics of who took the survey -->
<!--
  <div class="row">
    <div class="">
      <app-concept-charts [concept]="survey" [showRace]="true" [showAge]="true" [showGender]="true"
                        [showEthnicity]="true" [backgroundColor]="'#ECF1F4'">
      </app-concept-charts>
    </div>
  </div>
  -->
</div>