.title-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.desc-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.title-container * {
    padding-right:  18px ;
    width: calc(auto +  18px );
}

.title-container h1 {
    line-height: 1em;
}

.toggle-link, .toggle-link:link, .toggle-link:visited {
    color: #216fb4;
}

.search-bar-container {
    margin-bottom: calc( 18px *4);
    margin-top:  18px ;
}

.survey-head {
    display: flex;
    position: relative;
    margin-bottom: calc( 18px *4)
}

.stat-container {
    display: flex;
    flex-direction: column;
}

.stat-container .secondary-display {
    font-size: 70px;
    line-height: 0.97em;
}

.stat-container:first-of-type {
    padding-right: 45px;
}

.stat-desc {
    font-size: .75em;
}

.pdf-link {
    position: absolute;
    right: 0;
    top: 0;
}

.survey-results {
    position: relative;
}

.no-results {
    margin-top: 1em;
}

.question-result {
    border-top: 1px solid #CCCCCC;
}

.question-result:first-of-type {
    border-top: none;
}

.see-answers {
    cursor: pointer;
    font-size: 1.3em;
    padding-bottom:18px;
}

.see-answers clr-icon {
    width: 1.3em;
    height: 1.3em;
    color: #216fb4;
}

.tbl-r.tbl-head {
    padding-bottom: 0;
}

.tbl-exp-r {
    padding:  18px ;
}

.tbl-exp-r:last-of-type {
    border-bottom: 1px solid #CCCCCC;
}

.question .display-body {
    padding-bottom:  18px ;
}

.question .body-default {
    padding-bottom:  18px ;
}

.icon-btn clr-icon {
    width: 2em;
    height: 2em;
    color: #216fb4;
}

.tbl {
    padding-bottom: calc( 18px * 7);
}

.tbl-r-group .tbl-d.display-body {
    font-size: .8em;
}

.tbl-exp-r .tbl-d {
    font-size: 1em;
}