.title-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.info-text {
    font-size: .58333rem;
}

.desc-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.title-container * {
    padding-right:  18px ;
    width: calc(auto +  18px );
}

.title-container h1 {
    line-height: 1em;
}

.toggle-link, .toggle-link:link, .toggle-link:visited {
    color: #216fb4;
}

.survey-head {
    display: flex;
    position: relative;
    margin-bottom: calc( 18px *4)
}

.stat-container {
    display: flex;
    flex-direction: column;
}
.stat-container .info-text {
    margin-top:0;
}

.stat-container .secondary-display {
    font-size: 70px;
    line-height: 0.97em;
}

.stat-container:first-of-type {
    padding-right: 45px;
}

.stat-desc {
    font-size: .75em;
}

.pdf-link {
    position: absolute;
    right: 0;
    top: 0;
}

.survey-results {
    position: relative;
}

.no-results {
    margin-top: 1em;
}

.question-result {
    border-top: 1px solid #CCCCCC;
    padding: 9px 0;
}

.question-result .secondary-display {
    font-size: .9em;
}
.question-result .question-text {
    font-family: FFUnitStdBold,Arial, Helvetica, sans-serif;    
    color:#262262;
}

.question-result:first-of-type {
    border-top: none;
}

.see-answers {
    font-size: .7em;
    cursor: pointer;
    color:#216fb4;
}

.see-answers clr-icon {
    width: 1.3em;
    height: 1.3em;
    color: #216fb4;
}

.tbl-r.tbl-head {
    padding-bottom: 0;
}

.tbl-exp-r {
    padding:  18px ;
}

#answer-result {
    width: calc(40%)
}
.question .display-body {
    padding-bottom:  18px ;
}

.question .body-default {
    padding-bottom:  18px ;
}

.icon-btn clr-icon {
    width: 2em;
    height: 2em;
    color: #216fb4;
}

.tbl {
    padding-bottom: calc( 18px * 3);
}

.tbl-r-group .tbl-d.display-body {
    font-size: .7em;
}
.tbl-r-group {
    width:50%;
}
.tbl-exp-r {
    font-size: .8em;
}
.tbl-d {
    width: calc(24%);
}