:host {
    margin: auto auto;
    width: 100%;
}

h5.secondary-display {
    font-size: 20px;
    font-family: GothamBook, Arial, sans-serif;
    font-weight: 100;
}

.highcharts-root {
    font-family: GothamBook, Arial, sans-serif;
    font-size: .6rem;
}

.page-header {
    padding: 18px
}

.search-bar-container {
    padding: 18px;
}

.results {
    padding: 18px;
    padding-top: 36px;
}

.results-grid {
    width: 100%;
    background: white;
}

.aka-text {
    width: 170px;
    font-family: Arial, sans-serif;
    font-style: italic;
    color: rgb(150 150 150);
    display: flex;
    align-items: center;
}

.aka-info {
    opacity: .7;
}



.top-concepts-chart {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.medline-link {
    font-size: 14px;
    color: #262262;
    background: #f6f6f8;
    border-radius: 10px;
    padding: .5rem 1rem;
    line-height: 1.5;
}

#domain-summary {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 28px;
}

#domain-name {
    font-size: 20px;
    line-height: 18px;
    display: inline;
}

.domain-info-layout {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0;
}

.results-tbl-row-inner {
    width: 100%;
    padding: 18px;
    padding-bottom: none;
    border-left: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    border-right: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.aka {
    padding-left: 9px;
    padding-top: 9px;
    font-size: 14px;
}

.aka .info-icon {
    filter: contrast(43%) brightness(165%);
    transform: scale(0.7);
}

.see-more, .see-less {
    display: inline;
    color: #216fb4;
    font-weight: 400;
    position: relative;
    z-index: 100;
    padding-left: 0.5%;
}

.row-selected {
    background: #f6f6f8;
}

.results-tbl-row-expanded .results-tbl-row .domain-info-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.tbl-head .tbl-r-group .tbl-d::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    background: url('/assets/icons/divider.svg');
    background-repeat: no-repeat;
    left: -10px;
}

.tbl-r.tbl-head {
    background: #f6f6f8;
    border: 1px solid #CCCCCC;
    border-bottom: none;
}

.icon-btn {
    position: relative;
    right: 18px;
}

.tbl-r {
    border: none;
}

.synonyms-text {
    padding-left: 1%;
    padding-right: 3%;
}

#answer-result {
    width: calc(47%);
}

h5.secondary-display {
    padding: 18px;
    font-size: 1.3em;
}

.source-layout {
    display: flex;
    margin: 0 2rem;
}

.source-item {
    width: 50%;
    margin: 0 auto;
    flex-grow: 1;
}

.source-item:not(:nth-of-type(2)) {
    width: 50%;
    min-width: 10rem;
}

@media (max-width: 600px) {
    .chart-choice {
        font-size: 4vw;
        padding: 2px;
    }
}

@media (max-width: 900px) {
    .results-grid {
        overflow-x: scroll;
    }
}

