<div class="page-header">
    <h2 class="primary-display">{{title}}</h2>
  </div>
  <div class="search-bar-container">
    <div id="db-search-bar">
      <clr-icon shape="search" class="is-info search-icon"></clr-icon>
      <input type="text" aria-label="EHR Search" id="search-db" placeholder="Keyword Search" [formControl]="searchText"
        style="height:auto" autofocus>
    </div>
  </div>
  <app-spinner [loading]="loading"></app-spinner>
  <div *ngIf="items.length > 0" class="results">
    <a class="btn btn-link btn-sm" [routerLink]="['']">
      < Back to main search </a> <div class="result-list">
        <div class="db-card">
          <div class="db-card-inner">
            <section *ngIf="items.length > 0">
              <!-- Top summary boxes -- only show if have results -->
              <h5 id="domain-summary" class="secondary-display">
                <a class="toggle-link" (click)="toggleTopConcepts()">Top {{getTopResultsSize()}} by Descending
                  Participant Counts
                  <clr-icon size="20" *ngIf="!showTopConcepts" shape="caret" dir="right"></clr-icon>
                  <clr-icon size="20" *ngIf="showTopConcepts" shape="caret" dir="down"></clr-icon>
                </a>
              </h5>
              <div *ngIf="showTopConcepts">
                <chart-top-results (topResultSelected)="selectConcept($event,true)" [concepts]="top10Results"></chart-top-results>
              </div>
            </section>
            <db-table 
            [treeData]="treeData"
            [ehrDomain]="ehrDomain"
            [graphType]="graphType"
            [searchText]="searchText"
            [searchResult]="searchResult"
            [graphButtons]="graphButtons"
            [synonymString]="synonymString"
            [prevSearchText]="prevSearchText"      
            [showMoreSynonyms]="showMoreSynonyms"
            [totalParticipants]="totalParticipants"
            [standardConcepts]="standardConcepts"
            [medlinePlusLink]="medlinePlusLink"
            [selectedConcept]="selectedConcept"
            [searchRequest]="searchRequest" 
            [totalResults]="totalResults" 
            [currentPage]="currentPage"
            [graphToShow]="graphToShow"
            [items]="items"
            (exploreConcept)=exploreConcept($event)></db-table>
          </div>
          <pagination-controls (pageChange)="currentPage = $event; 
          getNextPage($event)" directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
  </div>
</div>
<div *ngIf="!loading && items.length === 0 && searchText.value">
  <h5 class="secondary-display"> No results in this domain that match your search.</h5>
  <app-db-no-results (newDomain)="changeResults($event)" [searchText]="searchText"></app-db-no-results>
</div>