:host {
    margin: auto auto;
    width: 100%;
}

h5.secondary-display {
    font-size: 20px;
    font-family: GothamBook, Arial, sans-serif;
    font-weight: 100;
}

.highcharts-root {
    font-family: GothamBook, Arial, sans-serif;
    font-size: .6rem;
}

.page-header {
    padding: 18px
}

.search-bar-container {
    padding: 18px;
}

.clear-icon {
    float: right;
    margin-top: 1.5%;
}

.results {
    padding: 18px;
    padding-top: 36px;
}

.results-grid {
    width: 100%;
    background: white;
}

.top-concepts-chart {
    width: 100%;
    margin: 0 auto;
    display: block;
}


@media (max-width: 900px) {
    .results {
      padding: 0;
      padding-top: 36px;
    }
}

