:host {
    margin: auto auto;
    width: 100%;
}

h5.secondary-display {
    font-size: 20px;
    font-family: GothamBook, Arial, sans-serif;
    font-weight: 100;
}

.highcharts-root {
    font-family: GothamBook, Arial, sans-serif;
    font-size: .6rem;
}

.page-header {
    padding: 18px
}

.search-bar-container {
    padding: 18px;
}

.clear-icon {
    float: right;
    margin-top: 1.5%;
}

.results {
    padding: 18px;
    padding-top: 36px;
}

.results-grid {
    width: 100%;
    background: white;
}

.aka-text {
    width: 170px;
    font-family: Arial, sans-serif;
    font-style: italic;
    color: rgb(150 150 150);
    display: flex;
    align-items: center;
}

.aka-info {
    opacity: .7;
}



.top-concepts-chart {
    width: 100%;
    margin: 0 auto;
    display: block;
}

