.primary-display{
    text-align: center;
    padding:1rem;
}
.vid-container {
    width: 100%;
    text-align: center;
    padding:1rem;
    padding-bottom: 2rem;
}
.vid-container video {
    width: calc((100%/12)*10);
    height:auto;
    outline: none;
}
