<div class="version-box-container">
  <h4 class="display-body">Survey versions</h4>
<div class="version-box">
  <div class="version-box-header">
    <div class="version-box-header-item">Month</div>
    <div class="version-box-header-item">Participants</div>
    <div class="version-box-header-item">Number of Questions</div>
    <div class="version-box-header-item">Download PDF</div>
  </div>
  <div class="version-box-body">
    <div>zxc</div>
    <div>zxc</div>
    <div>zxc</div>
    <div>zxc</div>
  </div>
</div>
</div>