<footer>
  <div class="site-branding-container">
    <div class="site-branding">
      <div class="logo">
        <div class="site-logo"><a href="{{allOfUsUrl}}/" class="custom-logo-link"><img
              src="/assets/db-images/allofus_research-hub_white.png" class="custom-logo" alt="All of Us Research Hub"
              itemprop="logo" /></a>
        </div>
        <div class="divider">
        </div>
        <div class="nih-logo">
          <a href="https://allofus.nih.gov/" target="_blank">
            <img alt="National Institute of Health All of Us Research Program" class="nih_header"
              src="/assets/db-images/nih_allofus_white.png" />
          </a>
        </div>
      </div><!-- .logo -->
    </div><!-- .site-branding -->
  </div><!-- .site-branding-container -->
  <ul class="footer-menu">
    <li class="foot-apply">
      <a href="https://www.researchallofus.org/apply/">APPLY</a>
    </li>
    <li>
      <a href="https://workbench.researchallofus.org/login" class="login-btn"> RESEARCHER
        LOGIN</a>
    </li>
  </ul>
</footer>