.popup h3 {
    font-family: 'FFUnitStdRegular', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 1;
    color: rgba(38,34,98,1);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.popup p {
    font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(38,34,98,1);
    margin: 0;
    text-rendering: optimizeLegibility;	
    margin: 1rem 10px;
}
/* === mailchimp button === */
.mailchimpbutton a {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 16px;
    font-family: 'FFUnitStdBold', 'Helvetica', sans-serif!important;
    font-style: normal;
    padding: .5rem 1.5rem;
    min-width: max-content;	
    background: #ffffff; 
    color: #262262!important;
    border-radius: 50px;
    text-decoration: none;
}
.mailchimpbutton a > img {
    height: 12px;
    padding: 0 .5rem;
}
#colophon .mailchimpbutton {
    margin-top:2rem;
}
@media only screen and (min-width: 1168px) {
    #colophon .mailchimpbutton {
        margin-top:0;
    }
}
.mailchimpbutton:hover a,
.mailchimpbutton:focus a{
    background: #bee1ff;
}

/* Mailchimp */
.mc-field-group {
    margin-top: .6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 320px;
}
.mc-field-group input {
    width: 100%;
    max-width: 320px;
    min-width: 290px;
    font-family: 'FFUnitStdRegular', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0.4rem 0.8rem;
    outline-offset: 0;
    border-radius: 0;
    background: #fff;
    height: 50px;
    border: 2px solid #262262;
    margin-bottom: 1rem;
}
#mc_embed_signup .button {
    font-family: 'FFUnitStdBold', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 18px;
    transition: background 150ms ease-in-out;
    background: rgba(38,34,98,1);
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    color: #fff;
    padding: 0.8rem 2rem;
    min-width: 290px;
    text-decoration: none;
    vertical-align: bottom;
}
#mc_embed_signup .button:hover,
#mc_embed_signup .button:focus {
    background: #216fb4;
    color: #fff;
    cursor: pointer;
}
/* === mcbutton popup === */
.popup {
    position: absolute;
    top: -90rem;
    padding: 1rem 1rem 2.5rem;
    text-align: center;
}
.popup.mcbutton {
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 15%;
    left: 5%;
    right: 5%;
    background: #ffffff;
    box-shadow: 0px 0px 2px 0px;
    transition: top .3s ease-in-out;
    z-index: 20;
}
@media only screen and (min-width: 1168px) {
    .popup.mcbutton {
        top: 30%;
        left: 20%;
        right: 20%;
    }
}
.popup .mcbuttonexit {
    width: max-content;
    line-height: 1;
    font-weight: bold;
    font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.popup .mcbuttonexit:hover,
.popup .mcbuttonexit:focus {
    cursor: pointer;
}