<app-rh-header-react></app-rh-header-react>
<main class="main-bg" *ngIf="true">
  <app-breadcrumb></app-breadcrumb>
  <div class="db-container">
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div>
  <!-- *** removed until strategic direction is provided for CTA section ***
    <div class="cta-content dark">
      <img src="https://aou-db-test.appspot.com/assets/images/applyForAccess_btn.png" /><h4>Find out more about <a href="##">Data Access Levels</a> and <a href="##">How to Apply</a>.</h4>
		</div> -->
  <!-- .cta-content -->
</main>
<app-rh-footer-react></app-rh-footer-react>