/* ##extra div */
div.dark {
  background-color: #f0f0f1;
  padding: 2rem 0;
  display: flex;
	justify-content: center;
	align-items: center;
}
div.dark img {
	float: left;
	margin-right: 1rem;
	height: 70px;
	width: auto;
}
div.dark h3,
div.dark h4 {
  margin-top: 0;
  font-family: 'FFUnitStdBold', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: #302C71;
}
@media only screen and (max-width: 1169px) {
.main-bg {
padding:.5em;
}
}