<clr-main-container class="main-bg" *ngIf="signedIn else login">
  <app-db-header [noMenu]="noHeaderMenu"></app-db-header>
    <app-breadcrumb></app-breadcrumb>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</clr-main-container>
<footer>
  <div class="banner-container">
    <div class="banner-inner">
      <div class="banner-btn"></div>
      <p class="banner-text">Find out more about Data Access Levels and How to Apply. </p>
    </div>
  </div>
</footer>
<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>