:host {
  background: #f6f6f8;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 18px;
  padding: 18px;
  padding-left: 0;
}

.breadcrumb {
  display: inline;
  white-space: nowrap;
  padding-right: 0.25rem;
}

.breadcrumb a {
  text-decoration: none;
  color: #0079b8;
  font-size: 19px;
  /* font-weight: bolder; */
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb:after {
  font-weight: 400;
  color: #262262;
  content: "  > ";
  padding-left: 0.15rem
}

.breadcrumb-last a {
  color: #262262;
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
  text-transform: capitalize;
}