:host {
    margin-bottom: 18px;
}

li>ul {
    margin-left: 0;
}

a:hover, a:link, a:visited a:active, a {
    text-decoration: none;
    color: #2b266d;
    cursor: pointer
}

.fake-active {
    border-bottom: 4px #2b266d solid;
    padding-bottom: 0;
}

.search header.page-header {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2)
}

.search #main {
    padding-bottom: 3rem
}

.site-branding {
    padding: 0.7rem;
}

#site-navigation {
    background: #f1f1f1;
}

.search .page-content {
    padding: 1rem 1rem 5rem
}

a:active {
    color: rgba(33, 111, 180, 1)
}

input:focus, input:hover {
    cursor: text
}

input#s {
    border-bottom: 2px solid;
    outline: 0;
    border-top: 0 transparent;
    border-left: 0 transparent;
    border-right: 0 transparent;
    margin-right: 1rem
}

.widget {
    font-family: 'Gotham A','Gotham B','GothamBook','Helvetica Neue', sans-serif;
    font-weight: 500;
    width: 100%;
    color: rgba(255, 255, 255, 1)
}

.widget ul {
    padding: 0;
    list-style: none
}

.textwidget p {
    text-align: right;
}

.widget-header {
    display: none
}

.widget-header .widget {
    color: rgba(38, 34, 98, 1);
    vertical-align: bottom
}

.widget-header .widget p {
    margin: 0 auto
}

.widget-header .widget a {
    text-decoration: none;
    color: rgba(33,111,180,1);
}

:after {
    clear: both
}

.icon_search img {
    display: none
}

.site-header {
    padding: 0;
    background: #fff
}

.logo {
    display: inline-block;
    width: 85%
}

.site-logo {
    max-width: 264px
}

.nih-logo {
    display: none
}

.textwidget p {
    font-size:15px;
}

#menu-primary {
    padding-left: calc(10%);
    padding-right: calc(10%);
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    margin: auto;
}

.main-navigation ul {
    list-style-type: none
}

.main-navigation ul.main-menu {
    margin-block-start: 0;
    margin-block-end: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0
}

#menu-mobile {
    padding-left: 1rem;
    padding-bottom: 18px;
    visibility: visible;
    font-family: 'FFUnitStdMedium', 'Helvetica', sans-serif;
    font-weight: normal;
}
#menu-mobile li.main-menu-item-second {
    display: block;
    width: 100%;
    text-align: left;
    padding: 13px 0;
    position: relative;
}
#menu-mobile li.main-menu-item-second a {
    text-transform: uppercase;
    font-size: 19.8px;
}

#menu-mobile li.main-menu-item {
    display: block;
    width: 100%;
    text-align: left;
    padding: 13px 0;
    position: relative;
}

#menu-mobile li.main-menu-item a {
    text-transform: uppercase;
    font-size: 19.8px;
}

#menu-mobile li.main-menu-item::after {
    content: '\2228';
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    line-height: 1;
    color: rgba(38, 34, 98, 1);
    vertical-align: middle;
    margin-right: 1rem;
}

#menu-mobile li ul.sub-menu {
    position: absolute;
    width: auto;
    display: contents;
    left: 0;
    top: 0;
}

#menu-mobile>li {
    border-bottom: #d7d7d7 1px solid;
    font-size: 23px;
}

#menu-mobile ul.sub-menu {
    /* position: static; */
    margin: 0.8rem;
}

#menu-mobile li ul.sub-menu li a span.break {
    display: inline;
    padding-right: .3em;
}

#menu-mobile ul.sub-menu li[class*=icon_] {
    display: block;
    margin-left: 1rem;
    padding: 13px 0;
    white-space: normal;
    margin: 0;
    width: 100%;
}
#menu-mobile ul.sub-menu li[class*=icon_]:first-child {
  padding-top: 20px;
}
#menu-mobile ul.sub-menu li[class*=icon_] a {
    text-transform: capitalize;
    font-size: 19.8px;
}

#menu-mobile ul.sub-menu li[class*=icon_] a img {
    display:none;
}

#menu-mobile ul.sub-menu li[class*=icon_]:hover {
    border-bottom: none;
}

.main-navigation ul.sub-menu {
    padding-left: 0;
    position: absolute;
    left: -9999em;
    z-index: 9
}

#menu-primary li.icon_search {
    display: none
}

.main-navigation ul.main-menu>li a {
    display: inline-block;
    color: rgba(38, 34, 98, 1);
    text-transform: uppercase;
    text-decoration: none;
    padding: .8rem 0
}

.main-navigation ul.sub-menu>li a {
    text-transform: none
}

/* .main-navigation ul.sub-menu>li:last-child {
    padding-bottom: 1rem
} */

.main-navigation :not(.menu-item-has-children) :not(.sub-menu)>li {
    border-bottom: #d7d7d7 1px solid
}

.mobile-nav {
    float: right;
    margin-top: -8px;
    width: 15%
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    z-index: 2;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0) scale(.4);
    cursor: pointer
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #262262;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    transition: .1s linear;
}

#nav-icon span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

#nav-icon span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

#nav-icon span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

#nav-icon.clicked span:first-of-type {
    transform-origin: center center;
    transform: rotate(45deg);
    top: 10px;
}

#nav-icon.clicked span:last-of-type, #nav-icon.clicked span:nth-of-type(2) {
    transform-origin: center center;
    transform: rotate(-45deg);
    top: 10px;
}

@media only screen and (min-width:768px) {
    .logo {
        width: 50%
    }
    .site-logo {
        display: inline-block;
        width: 50%;
        padding-right: .5rem
    }
    .nih-logo {
        display: inline-block;
        width: 40%;
        border-left: solid 2px;
        padding-left: 1rem
    }
    .nih-logo img, .site-logo img {
        vertical-align: bottom
    }
    .nih-logo img {
        max-height: 32px
    }
    .mobile-nav {
        width: auto
    }
}

#menu-primary {
    display: none;
}

@media only screen and (min-width:1168px) {
    span.break {
        display: block;
    }
    #menu-primary {
        display: block;
    }
    .mobile-nav, #menu-mobile {
        display: none;
    }
    .icon_search img {
        width: 22px;
        margin-right: 1rem;
        cursor: pointer;
        display: inline-block
    }
    .widget-header {
        text-align: right;
        display: inline-block;
        width: 49%;
        vertical-align: middle
    }
    #menu-primary ul.sub-menu {
        position: absolute;
        padding: 0;
        top: -9999em
    }
    #menu-primary {
        padding-left: calc(10%);
        padding-right: calc(10%);
        position: relative;
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        margin: auto;
        padding-bottom: 0;
        text-align: right
    }
    #menu-primary li.icon_search {
        display: inline-block
    }
    ul.main-menu>li:hover {
        background: rgba(38, 34, 98, 1);
    }
    ul.main-menu li.main-menu-item:hover a {
        color: #fff;
    }
    ul.main-menu li.icon_search a:hover {
        background: 0 0;
    }
    ul.sub-menu li[class*=icon_]:hover {
        border-bottom: rgba(38, 34, 98, 1) solid 2px;
        transition: none;
    }
    #menu-primary ul.sub-menu li[class*=icon_] {
        display: inline-block;
        white-space: initial;
        font-family: 'FFUnitStdRegular', 'Helvetica', sans-serif;
        font-weight: 500;
        cursor: pointer;
        font-size: 0;
        line-height: 1.2;
        padding: 1rem 0px 0;
        margin: 0;
    }
    #menu-primary ul.sub-menu li img:hover+a {
        background: 0 0;
        color: rgba(38, 34, 98, 1);
        border-bottom: rgba(38, 34, 98, 1) solid 2px;
        transition: none;
    }
    #menu-primary ul.sub-menu li a {
        color: rgba(38, 34, 98, 1);
        font-size: 16.2px;
        padding: 0;
        padding-bottom: 24px;
        width: auto;
    }
    #menu-primary ul.sub-menu li {
  display: inline-block;
  padding: 0 30px;
  width: 160px;
  white-space: pre-wrap;
}
    #menu-primary ul.sub-menu li.skinny {
      width: 125px;
      padding: 1rem 30px 0;
  }
    #menu-primary li.icon_search ul.sub-menu li {
        width: auto;
        padding: 1rem
    }
    #menu-primary li:last-of-type ul.sub-menu li {
        font-size: 18px;
        padding: 9px 0;
    }
    #menu-primary>li {
        border: none;
        display: inline-block;
        white-space: nowrap;
        font-size: 18px;
    }
    #menu-primary>li a {
        width: 100%;
        padding: 18px;
        font-family: 'FFUnitStdMedium', 'Helvetica', sans-serif;
        font-weight: normal;
    }
    .main-menu>li:hover>ul {
        left: 0;
        right: 0;
        width: 100%;
        padding-left: calc(10%);
        padding-right: calc(10%);
        background: #fff;
        text-align: center;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
        display: block;
        top: 60px!important
    }
    #menu-primary ul.sub-menu li[class*=icon_] a img {
        height: 50px;
        margin: 0 auto .5rem;
        display: block;
        vertical-align: initial;
    }
    #menu-primary img {
        vertical-align: initial;
    }
    #searchform {
        width: 20rem;
        margin: 0 auto;

    }
    .site-nav-container .site-branding-nav .main-navigation .main-menu li.menu-item-has-children:nth-child(1):hover > a:after {
        border-style: solid;
        content: " ";
        border-color: transparent;
        border-top-color: rgba(38,34,98,1);
        border-width: 10px;
        margin-left: -1.5rem;
        z-index: 8889;
	      position: absolute;
	      top: calc(100% - 6px);
}

.site-nav-container .site-branding-nav .main-navigation .main-menu li.menu-item-has-children:nth-child(2):hover > a:after {
	  border-style: solid;
    content: " ";
    border-color: transparent;
    border-top-color: rgba(38,34,98,1);
    border-width: 10px;
    margin-left: -4.6rem;
    z-index: 8889;
	  position: absolute;
	  top: calc(100% - 6px);
}
}

#searchsubmit {
    background: url('https://www.staging.researchallofus.org/wp-content/themes/research-hub-wordpress-theme/media/2019/02/icon_search.png');
    border: none;
    width: 22px;
    height: 22px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 13px;
    bottom: 40px;
    position: absolute;
    left: 65%;

}
