p {
    margin-top: 0;
}

aside {
    width: 30%;
}

.source-layout {
    display: flex;
    margin: 0 2rem;
    height: 100%;
}

.explore {
    font-size: 14px;
    text-align: left;
    color:#0079b8;
    cursor: pointer;
    z-index: 100;
}

.source-item:not(:nth-of-type(2)) {
    width: 50%;
    min-width: 10rem;
}

.concept-box {
    background: white;
}

.concept-box_info {
    padding: .5rem;
    text-align: left;
}

.concept-box_info p {
    font-size: 14px;
}

.tree-top {
    padding: 1em;
    padding-top: 0;
    padding-top: 0;
    overflow-y: scroll;
}

.tree-view {
    font-size: 14px;
    text-align: left;
    width: 70%;
    text-align: right;
    padding: 1rem;
    padding-top: 0;
}

.source-tree {
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    text-align: left;
}

.tree {
    height: 440px;
    overflow-y: scroll;
}

.source-tree p {
    margin: 0;
}

.tree-heading {
    font-size: 14px;
    border-bottom: 1px solid #3e3b70;
    margin-bottom: 1rem;
}

strong {
    font-family: GothamBold, Arial, Helvetica, sans-serif;
}