<div class="source-layout"
  *ngIf="ehrDomain.domain === 'CONDITION' || ehrDomain.domain === 'PROCEDURE'; else NoSourceTreeLayout">
  <aside>
    <div class="concept-box">
      <div class="concept-box_info">
        <ng-container *ngIf="treeConcept && treeConcept.conceptId; else default">
          <p><strong>{{treeConcept.conceptName}}</strong></p>
          <p>{{concept.vocabularyId}} Code: {{treeConcept.conceptCode}}</p>
          <p>OMOP Concept Id: {{treeConcept.conceptId}}</p>
          <a class="explore" *ngIf="treeConcept.explorable" (click)="exploreConcept(treeConcept.conceptId)">Explore this
            concept.</a>
        </ng-container>
      </div>
      <ng-template #default>
        <div class="concept-box_info">
          <p><strong>{{concept.conceptName}}</strong></p>
          <p>{{concept.vocabularyId}} Code: {{concept.conceptCode}}</p>
          <p>OMOP Concept Id: {{concept.conceptId}}</p>
        </div>
        <app-concept-charts [concept]="concept" [showGraph]="graphToShow" [backgroundColor]="'#ECF1F4'">
        </app-concept-charts>
      </ng-template>
      <ng-container *ngIf="treeConcept">
        <app-concept-charts [concept]="treeConcept" [showGraph]="graphToShow" [backgroundColor]="'#ECF1F4'">
        </app-concept-charts>
      </ng-container>
    </div>
  </aside>
  <div class="tree-view">
    <p class="tree-heading">Count Breakdown ({{concept.vocabularyId}})
      <app-tooltip-react [tooltipKey]="'rolledUpConceptsHelpText'"></app-tooltip-react>
    </p>
    <div class="tree">
      <app-spinner-react [loading]="treeLoading" [dots]="true"></app-spinner-react>
      <ng-container *ngIf="!treeLoading">
        <div *ngFor="let node of treeData" class="tree-top">
          <app-source-tree *ngIf="node && node.group == false" [rootNode]="node"></app-source-tree>
          <app-source-tree *ngIf="node && node.group" (conceptSelect)="conceptTreeClick($event)" [rootNode]="node">
          </app-source-tree>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #NoSourceTreeLayout>
  <div class="concept-box">
    <div class="concept-box_info">
      <div class="concept-box_info">
        <p><strong>{{concept.conceptName}}</strong></p>
        <p>{{concept.vocabularyId}} Code: {{concept.conceptCode}}</p>
        <p>OMOP Concept Id: {{concept.conceptId}}</p>
      </div>
    </div>
    <app-concept-charts [concept]="concept" [showGraph]="graphToShow" [backgroundColor]="'#ECF1F4'">
    </app-concept-charts>
  </div>
</ng-template>