strong {
    font-family: GothamBook, Arial, sans-serif;
    color: #302C71;
}

.title-container {
    width: 100%;
}

.desc-container {
    flex-wrap: wrap;
    align-items: center;
}

.page-header {
    padding: 18px;
}

.title-container * {
    padding-right: 18px;
    margin: 0;
}

.title-container h1 {
    line-height: 1em;
}

.search-bar-container, .results {
    padding: 18px;
}

.results {
    padding-top: 36px;
    width: 100%;
}

.toggle-link, .toggle-link:link, .toggle-link:visited {
    color: #216fb4;
}

.survey-head {
    display: flex;
    position: relative;
    margin-bottom: calc( 18px *4);
    flex-wrap: wrap;
}

.stat-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    .stat-container {
        flex-basis: 100%;
    }
}

.stat-container .info-text {
    margin-top: 0;
}

.stat-container .secondary-display {
    font-size: 70px;
    line-height: 0.97em;
}

.stat-container:first-of-type {
    padding-right: 45px;
}

.stat-desc {
    font-size: .75em;
}

.pdf-link {
    padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .pdf-link {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0;
    }
}

.survey-results {
    position: relative;
}

.no-results {
    padding: 1em;
}

.question-result {
    border-top: 1px solid #CCCCCC;
    padding: 9px 0;
}

.question-result .secondary-display {
    font-size: .9em;
}

.question-result .question-text {
    font-family: Arial, sans-serif;
    color: #262262;
}

.question-result:first-of-type {
    border-top: none;
}

.question-result .tbl {
    width: 100%;
    overflow-x: scroll;
}

.see-answers {
    font-size: .7em;
    cursor: pointer;
    color: #216fb4;
}

.see-answers clr-icon {
    width: 1.3em;
    height: 1.3em;
    color: #216fb4;
}

.tbl-r.tbl-head {
    padding-bottom: 0;
}

#answer-result {
    width: calc(40%)
}

.active-question {
    font-family: GothamBold, Arial, sans-serif;
    font-weight: bold;
}

.question .display-body {
    padding-bottom: 18px;
}

.question .body-default {
    padding-bottom: 18px;
}

.icon-btn clr-icon {
    width: 2em;
    height: 2em;
    color: #216fb4;
}

.tbl {
    padding-bottom: calc( 18px * 3);
}

.sub-question-text {
    text-align: left;
    font-weight: 500;
}

.survey-question-heading {
    padding-top: 2%;
    text-align: left;
}

.sub-table-1 {
    margin-left: 2%;
    width: 98%;
}

.sub-table-2 {
    margin-left: 2%;
    width: 98%;
}

@media (max-width: 900px) {
    .results {
        overflow-x: scroll;
    }
    .question-result .tbl {
        overflow-x: scroll;
    }
}