<div class="survey-view">
  <div class="page-header">
    <div class="title-container" *ngIf="surveyConceptId && surveyName && surveyDescription">
      <h1> {{surveyName}} </h1>
      <button *ngIf="isCopeSurvey" (click)="showStatement = true" class="disclaimer-btn">IMPORTANT CONSIDERATIONS FOR
        COPE SURVEY - LEARN MORE</button>
      <div class="desc-container">
        <p class="body-default help-text survey-desc">{{surveyDescription}} Survey questions appear in the order in
          which participants took the survey.</p>
      </div>
    </div>
    <div class="survey-note"> <span class="bold-note-heading">Note</span>: The data on this page are:
      <ul class="survey-note">
        <li>Gathered directly from participants through electronic surveys</li>
        <li>Grouped into bins of 20 to protect privacy</li>
      </ul>
      For more information about this survey, please visit the <a target="_blank"
        href="https://www.researchallofus.org/data-sources/survey-explorer" rel="noopener noreferrer">Survey
        Explorer</a>
    </div>
  </div>
  <div class="search-bar-container">
    <div id="db-search-bar">
      <clr-icon shape="search" class="is-info search-icon"></clr-icon>
      <input type="text" aria-label="Survey Search" id="search-db" placeholder="Keyword Search"
        [formControl]="searchText" style="height:auto" autofocus>
      <div *ngIf="searchText.value" class="clear-icon" (click)="clearSearch()"><i
          class="far fa-times fa-1x clear-search-icon"></i></div>
    </div>
  </div>
  <app-spinner [loading]="loading"></app-spinner>
  <section *ngIf="!loading && surveyResultCount > 0" class="results">
    <a class="btn btn-link btn-sm main-search-link" [routerLink]="['']">
      < Back to main search </a>
        <div class="db-card">
          <div class="survey-head">
            <div [ngClass]="(isCopeSurvey)?'cope-stat-layout':'stat-layout'">
              <div class="stat-container">
                <h5 *ngIf="isCopeSurvey"><strong>Total unique participants</strong></h5>
                <h2 class="secondary-display">
                  {{survey.participantCount | number }}
                </h2>
                <p class="info-text">
                  Participants completed this survey
                </p>
              </div>
              <div class="stat-container" *ngIf="!searchText.value">
                <h2 class="secondary-display">
                  <span>{{ survey.questionCount }} </span>
                </h2>
                <p class="info-text">
                  Questions Available
                </p>
              </div>
              <div class="stat-container" *ngIf="searchText.value">
                <h2 class="secondary-display">
                  <span>{{ getMatchingQuestionCount() }}</span>
                </h2>
                <p class="info-text">
                  matching of <span class="highlight">{{survey.questionCount}}</span> questions available
                </p>
              </div>
            </div>
            <div *ngIf="isCopeSurvey && surveyVersions.length > 0" class="version-table">
              <app-survey-version-table-react [surveys]="surveyVersions"></app-survey-version-table-react>
            </div>
            <div class="pdf-link" (click)="downloadPdf()" *ngIf="!isCopeSurvey">
              <a href="{{surveyPdfUrl}}" download>
                <clr-icon shape="file" class="is-solid"> </clr-icon> Download Survey as PDF
              </a>
            </div>
          </div>
          <div class="survey-results" *ngIf="questionFetchComplete">
            <ng-container *ngFor="let q of questions, let i = index">
              <ng-container *ngIf="q.type === 'QUESTION';else topic">
                <div class="question-result">
              <div class="secondary-display">
                <div class="body-default" [ngClass]="{'active-question':showAnswer[q.conceptId]}">
                  <app-highlight-search style="cursor: pointer;"  tabindex="0" (keydown.enter)="toggleAnswer(q, 'display', 0)"
                  (click)="toggleAnswer(q, 'display', 0)" [text]="changeAutoInsertText(q)" [searchTerm]="searchText.value" *ngIf="!testReact">
                  </app-highlight-search>
                  <app-highlight-react style="cursor: pointer;"  tabindex="0" (keydown.enter)="toggleAnswer(q, 'display', 0)"
                                        (click)="toggleAnswer(q, 'display', 0)" [text]="changeAutoInsertText(q)" [searchTerm]="searchText.value" *ngIf="testReact">
                  </app-highlight-react>
                  <app-tooltip-react *ngIf="q.conceptId === 1586140" [tooltipKey]="'raceEthnicityQuestionHelpText'"
                                     [label]="getLabel(q, 'Race Ethnicity Question Help Text')" [searchTerm]="searchText.value"
                                     [action]="'Survey Page Tooltip'"></app-tooltip-react>
                  <app-tooltip-react *ngIf="q.conceptId === 1585838" [tooltipKey]="'genderIdentityQuestionHelpText'"
                                     [label]="getLabel(q,'Gender Identity Question Help Text')" [searchTerm]="searchText.value"
                                     [action]="'Survey Page Tooltip'"></app-tooltip-react>
                </div>
              </div>
                <a class="see-answers body-lead" tabindex="0" (keydown.enter)="toggleAnswer(q, 'display', 0)"
                   (click)="toggleAnswer(q, 'display', 0)">
                  See Answers
                  <clr-icon *ngIf="!showAnswer[q.conceptId]" shape="caret" dir="right"></clr-icon>
                  <clr-icon *ngIf="showAnswer[q.conceptId]" shape="caret" dir="down"></clr-icon>
                </a>
              <ng-container *ngIf="q.expanded && q.resultFetchComplete">
                <chart-survey-answers *ngIf="isCopeSurvey"[countAnalysis]="q.countAnalysis.results" [versionAnalysis]='q.versionAnalysis.results'></chart-survey-answers>
                <div class="survey-tbl">
                  <div class="survey-tbl-r survey-tbl-head">
                    <div class="info-text first survey-tbl-d">
                      Answer
                    </div>
                    <div class="survey-tbl-r-group survey-tbl-r-group-style ">
                      <div class="info-text survey-tbl-d display-body">
                        <ng-container *ngIf="isCopeSurvey">
                        </ng-container>
                        <ng-container *ngIf="!isCopeSurvey">
                          Concept Code
                          <app-tooltip-react [tooltipKey]="'conceptCodeHelpText'" [label]="getLabel(q,'Concept Code')"
                                             [searchTerm]="searchText.value" [action]="'Survey Page Tooltip'"></app-tooltip-react>
                        </ng-container>
                      </div>
                      <div class=" info-text survey-tbl-d display-body">
                        <ng-container *ngIf="isCopeSurvey">
                        </ng-container>
                        <ng-container *ngIf="!isCopeSurvey">
                          Participant Count
                          <app-tooltip-react [tooltipKey]="'surveyParticipantCountHelpText'"
                                             [label]="getLabel(q,'Multiple Answers for this survey question help text')"
                                             [searchTerm]="searchText.value" [action]="'Survey Page Tooltip'"></app-tooltip-react>
                        </ng-container>
                      </div>
                      <div class=" info-text survey-tbl-d display-body">
                        <ng-container *ngIf="isCopeSurvey">
                          Concept Code
                          <app-tooltip-react [tooltipKey]="'conceptCodeHelpText'" [label]="getLabel(q,'Concept Code')"
                                             [searchTerm]="searchText.value" [action]="'Survey Page Tooltip'"></app-tooltip-react>
                        </ng-container>
                        <ng-container *ngIf="!isCopeSurvey">
                          % Answered
                        </ng-container>
                      </div>
                      <div class="survey-tbl-d display-body"></div>
                    </div>
                  </div>
                  <div [ngClass]="a.expanded?'survey-tbl-r-state':''" class="survey-tbl-exp-r "
                    *ngFor="let a of q.countAnalysis.results" (click)="showAnswerGraphs(a,q,1)"
                    [hidden]="!showAnswer[q.conceptId]">
                    <div class="survey-tbl-r">
                      <div class="survey-tbl-d first display-body info-text survey-answer-level-1"
                        [ngClass]="{'active':a.expanded}">
                        <div class="answer-layout">
                          <ng-container *ngIf="isCopeSurvey">
                            <i [ngStyle]="{'color': a.color }" class="cope-legend-item fas fa-2x fa-circle"></i>
                          </ng-container>
                          <app-highlight-search [text]="a.stratum4" [searchTerm]="searchText.value" *ngIf="!testReact">
                          </app-highlight-search>
                          <app-highlight-react [text]="a.stratum4" [searchTerm]="searchText.value" *ngIf="testReact">
                          </app-highlight-react>
                          <app-tooltip-react *ngIf="q.conceptId === 1586140 && a.stratum3 === '903070'"
                                             [tooltipKey]="'q2RolledCategoriesHelpText'"
                                             [label]="getLabel(q,'Other category Help Text')" [searchTerm]="searchText.value"
                                             [action]="'Survey Page Tooltip'"></app-tooltip-react>
                        </div>
                      </div>
                      <div class="survey-tbl-r-group">
                        <div class="info-text survey-tbl-d display-body info-text">
                          <ng-container *ngIf="isCopeSurvey"></ng-container>
                          <ng-container *ngIf="!isCopeSurvey">
                            <label class="concept-code">{{a.stratum3}}</label>
                          </ng-container>
                        </div>
                        <div class="info-text survey-tbl-d display-body info-text">
                          <ng-container *ngIf="isCopeSurvey"></ng-container>
                          <ng-container *ngIf="!isCopeSurvey">
                            <div class="participant-count" *ngIf="a.countValue <= 20; else Non20Counts;">
                              &le; {{a.countValue | number}}
                            </div>
                            <ng-template #Non20Counts>
                              <div class="body-lead info-text survey-tbl-d">
                                {{a.countValue | number}}
                              </div>
                            </ng-template>
                          </ng-container>
                        </div>
                        <div class=" info-text survey-tbl-d display-body info-text">
                          <ng-container *ngIf="isCopeSurvey">
                            <label class="concept-code">{{a.stratum3}}</label>
                          </ng-container>
                          <ng-container *ngIf="!isCopeSurvey">
                            <span>{{countPercentage(a.countValue, survey.participantCount).toFixed(2)}}%</span>
                          </ng-container>
                        </div>
                        <div class=" info-text survey-tbl-d display-body info-text display-body info-text graph-btn">
                          <button class="icon-btn" *ngIf="(!a.stratum7 || a.stratum7 !== '1') && a.stratum4 != 'Did not answer'">
                            <clr-icon [ngClass]="a.expanded?'is-solid':''" shape="bar-chart"
                              style="height: 1.5rem; width: 1.5rem;color: #2691D0;"></clr-icon>
                          </button>
                          <button class="icon-btn" *ngIf="a.stratum7 === '1'">
                            <clr-icon *ngIf="!a.expanded" shape="caret" dir="right"
                              (click)="getSubQuestions(a, 'display', 1)"></clr-icon>
                            <app-spinner [loading]="a.loading" [dots]="a.dots"></app-spinner>
                            <clr-icon *ngIf="a.expanded" shape="caret" dir="down"></clr-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="survey-row-expansion"
                      *ngIf="a.expanded && a.stratum4.toLowerCase() != 'did not answer' && a.stratum7 !== '1'"
                      #chartElement>
                      <app-survey-chart-react [graphButtons]="graphButtons" [isCopeSurvey]="isCopeSurvey" [question]="q" [answer]="a"
                                              [selectedAnalysis]="q.selectedAnalysis" [selectedResult]="a"
                                              [surveyName]="survey.name" [versionAnalysis]='surveyVersions'
                                              [surveyCountAnalysis]="surveyCountAnalysis" [searchTerm]="prevSearchText"
                                              (click)="$event.stopPropagation();"></app-survey-chart-react>

                    </div>
                    <div class="survey-row-expansion sub-table-1"
                      *ngIf="a.expanded && a.stratum7 === '1' && a.subQuestionFetchComplete">
                      <ng-container *ngFor="let subQuestion of a.subQuestions, let j = index">
                        <chart-survey-answers *ngIf="isCopeSurvey"[countAnalysis]="subQuestion.countAnalysis.results" [versionAnalysis]='subQuestion.versionAnalysis.results'></chart-survey-answers>
                        <h6 class="sub-question-text">
                          <clr-icon shape="child-arrow" size="25"></clr-icon>
                          <app-highlight-search [text]="changeAutoInsertText(subQuestion)"
                          [searchTerm]="searchText.value" *ngIf="!testReact">
                        </app-highlight-search>
                          <app-highlight-react [text]="changeAutoInsertText(subQuestion)"
                                                [searchTerm]="searchText.value" *ngIf="testReact">
                          </app-highlight-react>
                      </h6>
                      <div class="survey-sub-tbl">
                          <div class="survey-tbl-r survey-tbl-head">
                            <div class="survey-tbl-d first display-body info-text">
                              Answer
                            </div>
                            <div class="survey-tbl-r-group">
                              <div class="survey-tbl-d display-body info-text">
                                <ng-container *ngIf="isCopeSurvey">
                                </ng-container>
                                <ng-container *ngIf="!isCopeSurvey">
                                  <label class="concept-code">Concept Code</label>
                                </ng-container>
                              </div>
                              <div class="survey-tbl-d display-body info-text">
                                <ng-container *ngIf="isCopeSurvey">
                                </ng-container>
                                <ng-container *ngIf="!isCopeSurvey">
                                  <label class="participant-count">Participant Count</label>
                                  <app-tooltip-react *ngIf="multipleAnswerSurveyQuestions.indexOf(subQuestion.conceptId) > -1"
                                                     [tooltipKey]="'surveyParticipantCountHelpText'"
                                                     [label]="getLabel(subQuestion,'Multiple Answers for this survey question help text')"
                                                     [searchTerm]="searchText.value" [action]="'Survey Page Tooltip'"></app-tooltip-react>
                                </ng-container>
                              </div>
                              <div class="survey-tbl-d display-body info-text">
                                <ng-container *ngIf="isCopeSurvey">
                                  Concept Code
                                  <app-tooltip-react [tooltipKey]="'conceptCodeHelpText'"
                                                     [label]="getLabel(q,'Concept Code')" [searchTerm]="searchText.value"
                                                     [action]="'Survey Page Tooltip'"></app-tooltip-react>
                                </ng-container>
                                <ng-container *ngIf="!isCopeSurvey">
                                  <span>% Answered out of {{a.countValue}}</span>
                                </ng-container>
                              </div>
                              <div
                                class=" info-text survey-tbl-d display-body info-text display-body info-text graph-btn">
                              </div>
                            </div>
                          </div>
                          <div class="survey-tbl-exp-r" *ngFor="let sqa of subQuestion.countAnalysis.results"
                            (click)="$event.stopPropagation();showAnswerGraphs(sqa, subQuestion,2)">
                            <div class="survey-tbl-r">
                              <div class="survey-tbl-d first display-body info-text sub-1-que survey-answer-level-1"
                                [ngClass]="{'active':a.expanded && sqa.expanded}">
                                <div>
                                  <app-highlight-search [text]="sqa.stratum4" [searchTerm]="searchText.value" *ngIf="!testReact">
                                  </app-highlight-search>
                                  <app-highlight-react [text]="sqa.stratum4" [searchTerm]="searchText.value" *ngIf="testReact">
                                  </app-highlight-react>
                                </div>
                              </div>
                              <div class="survey-tbl-r-group">
                                <div class="info-text survey-tbl-d display-body info-text">
                                  <ng-container *ngIf="isCopeSurvey"></ng-container>
                                  <ng-container *ngIf="!isCopeSurvey">
                                    <label class="concept-code">{{sqa.stratum3}}</label>
                                  </ng-container>
                                </div>
                                <div class="info-text survey-tbl-d display-body info-text">
                                  <ng-container *ngIf="isCopeSurvey"></ng-container>
                                  <ng-container *ngIf="!isCopeSurvey">
                                    <div class="participant-count" *ngIf="sqa.countValue <= 20; else Non20Counts;">
                                      &le; {{sqa.countValue | number}}
                                    </div>
                                    <ng-template #Non20Counts>
                                      <div class="body-lead info-text survey-tbl-d">
                                        {{sqa.countValue | number}}
                                      </div>
                                    </ng-template>
                                  </ng-container>
                                </div>
                                <div class=" info-text survey-tbl-d display-body info-text">
                                  <ng-container *ngIf="isCopeSurvey">
                                    <label class="concept-code">{{sqa.stratum3}}</label>
                                  </ng-container>
                                  <ng-container *ngIf="!isCopeSurvey">
                                    <span>{{countPercentage(sqa.countValue, a.countValue).toFixed(2)}}%</span>
                                  </ng-container>
                                </div>
                                <div
                                  class=" info-text survey-tbl-d display-body info-text display-body info-text graph-btn">
                                  <button class="icon-btn"
                                    *ngIf="sqa.stratum7 != '1' && sqa.stratum4 != 'Did not answer'">
                                    <clr-icon [ngClass]="sqa.expanded?'is-solid':''" shape="bar-chart"
                                      style="height: 1rem; width: 1rem;color: #2691D0;"></clr-icon>
                                  </button>
                                  <button class="icon-btn" *ngIf="sqa.stratum7 === '1'">
                                    <clr-icon *ngIf="!sqa.expanded" shape="caret" dir="right"
                                      (click)="getSubQuestions(sqa, 'display', 2)"></clr-icon>
                                    <app-spinner [loading]="sqa.loading" [dots]="sqa.dots"></app-spinner>
                                    <clr-icon *ngIf="sqa.expanded" shape="caret" dir="down"></clr-icon>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="row-expansion"
                              *ngIf="sqa.expanded && sqa.stratum4.toLowerCase() != 'did not answer' && !sqa.stratum7">
                              <app-survey-chart [graphButtons]="graphButtons" [isCopeSurvey]="isCopeSurvey"
                                [question]="subQuestion" [selectedAnalysis]="subQuestion.selectedAnalysis" [versionAnalysis]='surveyVersions'
                                [selectedResult]="sqa" [surveyName]="survey.name"
                                [surveyCountAnalysis]="surveyCountAnalysis" [searchTerm]="prevSearchText"
                                [answer]="sqa">
                              </app-survey-chart>
                            </div>
                            <div class="row-expansion sub-table-2" *ngIf="sqa.expanded && sqa.stratum7 === '1'">
                              <ng-container *ngFor="let subQuestion2 of sqa.subQuestions">
                                <h6 class="sub-question-text" *ngIf="sqa.stratum4 !== subQuestion2.conceptName">
                                  <clr-icon shape="child-arrow" size="25"></clr-icon>
                                  <app-highlight-search [text]="changeAutoInsertText(subQuestion2)"
                                    [searchTerm]="searchText.value" *ngIf="!testReact">
                                  </app-highlight-search>
                                  <app-highlight-react [text]="changeAutoInsertText(subQuestion2)"
                                                        [searchTerm]="searchText.value" *ngIf="testReact">
                                  </app-highlight-react>
                                </h6>
                                <div class="survey-sub-tbl">
                                  <div class="survey-tbl-r survey-tbl-head">
                                    <div class="survey-tbl-d first display-body info-text">
                                      Answer
                                    </div>
                                    <div class="survey-tbl-r-group">
                                      <div class="info-text survey-tbl-d display-body info-text">
                                        <ng-container *ngIf="isCopeSurvey">
                                        </ng-container>
                                        <ng-container *ngIf="!isCopeSurvey">
                                          <label class="concept-code">Concept Code</label>
                                        </ng-container>
                                      </div>
                                      <div class="info-text survey-tbl-d display-body">
                                        <ng-container *ngIf="isCopeSurvey">
                                        </ng-container>
                                        <ng-container *ngIf="!isCopeSurvey">
                                          <label class="participant-count">Participant Count</label>
                                          <app-tooltip-react *ngIf="multipleAnswerSurveyQuestions.indexOf(subQuestion2.conceptId) > -1"
                                                             [tooltipKey]="'surveyParticipantCountHelpText'"
                                                             [label]="getLabel(q,'Multiple Answers for this survey question help text')"
                                                             [searchTerm]="searchText.value" [action]="'Survey Page Tooltip'"></app-tooltip-react>
                                        </ng-container>
                                      </div>
                                      <div class=" info-text survey-tbl-d display-body">
                                        <ng-container *ngIf="isCopeSurvey">
                                          Concept Code
                                          <app-tooltip-react [tooltipKey]="'conceptCodeHelpText'"
                                                             [label]="getLabel(q,'Concept Code')" [searchTerm]="searchText.value"
                                                             [action]="'Survey Page Tooltip'"></app-tooltip-react>
                                        </ng-container>
                                        <ng-container *ngIf="!isCopeSurvey">
                                          <span>% Answered out of {{sqa.countValue}}</span>
                                        </ng-container>
                                      </div>
                                      <div
                                        class=" info-text survey-tbl-d display-body info-text display-body info-text graph-btn">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="survey-tbl-exp-r" *ngFor="let sqa2 of subQuestion2.countAnalysis.results"
                                    (click)="$event.stopPropagation();showAnswerGraphs(sqa2, subQuestion2,2)">
                                    <div class="survey-tbl-r">
                                      <div class="survey-tbl-d first display-body info-text">
                                        <div>
                                          <app-highlight-search [text]="sqa2.stratum4" [searchTerm]="searchText.value" *ngIf="!testReact">
                                          </app-highlight-search>
                                          <app-highlight-react [text]="sqa2.stratum4" [searchTerm]="searchText.value" *ngIf="testReact">
                                          </app-highlight-react>
                                        </div>
                                      </div>
                                      <div class="survey-tbl-r-group">
                                        <div class="info-text survey-tbl-d display-body info-text">
                                          <ng-container *ngIf="isCopeSurvey"></ng-container>
                                          <ng-container *ngIf="!isCopeSurvey">
                                            <label class="concept-code">{{sqa2.stratum3}}</label>
                                          </ng-container>
                                        </div>
                                        <div class="info-text survey-tbl-d display-body info-text">
                                          <ng-container *ngIf="isCopeSurvey"></ng-container>
                                          <ng-container *ngIf="!isCopeSurvey">
                                            <div class="participant-count"
                                              *ngIf="sqa2.countValue <= 20; else Non20Counts;">
                                              &le; {{sqa2.countValue | number}}
                                            </div>
                                            <ng-template #Non20Counts>
                                              <div class="body-lead info-text survey-tbl-d">
                                                {{sqa2.countValue | number}}
                                              </div>
                                            </ng-template>
                                          </ng-container>
                                        </div>
                                        <div class=" info-text survey-tbl-d display-body info-text">
                                          <ng-container *ngIf="isCopeSurvey">
                                            <label class="concept-code">{{sqa2.stratum3}}</label>
                                          </ng-container>
                                          <ng-container *ngIf="!isCopeSurvey">
                                            <span>{{countPercentage(sqa2.countValue, sqa.countValue).toFixed(2)}}%</span>
                                          </ng-container>
                                        </div>
                                        <div
                                          class=" info-text survey-tbl-d display-body info-text display-body info-text graph-btn">
                                          <button class="icon-btn"
                                            *ngIf="!sqa2.stratum7 && sqa2.stratum4 != 'Did not answer'">
                                            <clr-icon [ngClass]="sqa2.expanded?'is-solid':''" shape="bar-chart"
                                              style="height: 1rem; width: 1rem;color: #2691D0;"></clr-icon>
                                          </button>
                                          <button class="icon-btn" *ngIf="sqa2.stratum7 && sqa2.stratum7 === '1'">
                                            <clr-icon *ngIf="!sqa2.expanded" shape="caret" dir="right"></clr-icon>
                                            <clr-icon *ngIf="sqa2.expanded" shape="caret" dir="down"></clr-icon>
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row-expansion"
                                      *ngIf="sqa2.expanded && sqa2.stratum4.toLowerCase() != 'did not answer' && !sqa2.stratum7">
                                      <app-survey-chart [isCopeSurvey]="isCopeSurvey" [graphButtons]="graphButtons"
                                        [question]="subQuestion2" [selectedAnalysis]="subQuestion2.selectedAnalysis"
                                        [selectedResult]="sqa2" [surveyName]="survey.name" [versionAnalysis]='surveyVersions'
                                        [surveyCountAnalysis]="surveyCountAnalysis" [searchTerm]="prevSearchText"
                                        [answer]="sqa2"></app-survey-chart>
                                    </div>
                                  </div>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container></div>
              </ng-container>
              <ng-template #topic>
                <h3 class="topic-text">{{q.questionString}}</h3>
              </ng-template>
            </ng-container>
            <hr *ngIf="questions.length > 0 && surveyConceptId === 43528698">
            <app-fmh-view [searchText]="searchText" *ngIf="surveyConceptId === 43528698"
              [participantCount]="survey.participantCount" [surveyName]="survey.name"
              [surveyCountAnalysis]="surveyCountAnalysis"></app-fmh-view>
          </div>
        </div>
  </section>
</div>
<div class="no-results" *ngIf="hasResults() && !loading && searchText.value">
  <p class="results-heading no-results">
    <span *ngIf="searchMethod === 'and'"> No questions match *ALL* keywords: <strong>
        {{searchText.value}}</strong>.
      <span class="search-extra"> <button class="btn btn-link" (click)="setSearchMethod('or')">Match any
          keyword</button> </span>
    </span>
    <span *ngIf="searchMethod === 'or'"> No questions match any of the keywords: <strong>
        {{searchText.value}}</strong>.
      <span class="search-extra"> <button class="btn btn-link" (click)="setSearchMethod('or', true)">Reset
          search</button></span>
    </span>
  </p>
  <p class="results-heading body-default" *ngIf="questions.length > 0 && !loading">
    <span *ngIf="searchMethod==='or'">
      <b> {{questions.length}} </b> questions match <b>*ANY*</b> keyword: <strong>{{searchText.value}}</strong>.
      <button class="btn btn-link" (click)="setSearchMethod('and')">Match all keywords</button>
    </span>
    <span *ngIf="searchMethod==='and'">
      <span> <b> {{questions.length}} </b> questions match <b>*ALL*</b> keywords:
        <strong>{{searchText.value}}</strong>.</span>
      <button class="btn btn-link" (click)="setSearchMethod('or')">Match any keyword</button>
    </span>
  </p>
  <app-db-no-results (newDomain)="changeResults($event)" [searchText]="searchText"></app-db-no-results>
</div>
<app-popup-react *ngIf="showStatement && testReact" [helpText]="'CopePopUp'" [onClose]="closePopUp"></app-popup-react>
<app-pop-up [title]="'COvid-19 Participant Experience (COPE) survey'" [statement]="copeDisclaimer"
(closed)="showStatement = false" *ngIf="showStatement && !testReact"></app-pop-up>