/* default is when the screen is the smallest */
li>ul {
  margin-left: 0;
  font-weight: normal;
}

a:hover, a:link, a:visited a:active, a {
  text-decoration: none;
  color: #2b266d;
  cursor: pointer
}

.fake-active {
  border-bottom: 4px #2b266d solid;
  padding-bottom: 0;
}

li.flip::before, li.flip::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav_apply>a {
  position: relative;
  bottom: 1px;
  text-align: center;
  font-weight: 900;
  padding: 1px;
  background-image: linear-gradient(to bottom, #f9aa58, #f88d7b);
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0) scale(.4);
  cursor: pointer
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #262262;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  transition: .1s linear;
}

#nav-icon span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center
}

#nav-icon.clicked span:first-of-type {
  transform-origin: center center;
  transform: rotate(45deg);
  top: 10px;
}

#nav-icon.clicked span:last-of-type, #nav-icon.clicked span:nth-of-type(2) {
  transform-origin: center center;
  transform: rotate(-45deg);
  top: 10px;
}

.cta-bar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: white;
  padding: 14px;
  flex-wrap: wrap;
}

.cta-bar aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.cta-bar aside p {
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
}

.cta-bar aside p a {
  color: #216FB5;
}

.cta-bar .login-btn, #menu-mobile li .login-btn {
  font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #262262;
  color: #262262;
  text-transform: uppercase;
  padding: 5px 18px;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}

.cta-bar .login-btn {
  display: none;
}

.headwrap {
  display: flex;
  margin: 0;
  background: #ffffff;
  border-bottom: #2b266d 1px solid;
  align-items: flex-end;
  justify-content: flex-end;
}

.headwrap.no-border {
  border-bottom: none;
}

.site-branding-container {
  padding-bottom: 14px;
  padding-left: 14px;
  padding-top: 14px;
  width: 100%;
}

.site-branding-container .site-branding {
  flex-basis: 90%;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
  background: white;
  min-width: 10rem;
}

.site-branding-container .site-branding .logo {
  display: flex;
}

.site-branding-container .site-branding .logo .site-logo {
  max-width: 225px;
}

.site-branding-container .site-branding .logo .divider, .site-branding-container .site-branding .logo .nih-logo {
  display: none;
}

.site-branding-container .header-widget {
  display: none;
}

.site-branding-container .header-widget a {
  color: #216fb4;
  text-decoration: none;
}


#site-navigation {
  font-family: 'Gotham A', 'Gotham B', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.site-nav-container {
  width: 100vw;
  z-index: 1099;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu {
  margin-block-start: 0;
  display: none;
  flex-direction: column;
  list-style: none;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu.open {
  display: flex;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li {
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: .5rem;
  margin-right: 2rem;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:last-child {
  border: none;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #262262;
}

#menu-primary .sub-menu a {
  font-family: 'GothamBook', 'Gotham B', 'Helvetica Neue', sans-serif;
  font-weight: initial;
  text-transform: capitalize;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li ul.sub-menu {
  list-style: none;
}

.site-nav-container nav.main-navigation .menu-primary-container>ul.main-menu>li>ul.sub-menu {
  list-style: none;
  padding-left: 1rem;
  display: none;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li ul.sub-menu.open {
  display: block;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.flip:before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li.menu-item-has-children:before, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li ul.sub-menu li.menu-item-has-children:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 12px;
  background-image: url("/assets/icons/arrow-down-nav-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

/* search in nav */

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search ul.sub-menu {
  display: flex;
  padding-left: 0;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search a svg {
  stroke: #262262;
}

.site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search a svg:first-child {
  display: none;
}

#searchsubmit {
  background: url('/assets/icons/icon_search.png');
  border: none;
  width: 22px;
  height: 22px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input#s {
  background: transparent;
  width: 80%;
  border-bottom: #262262 solid 2px;
}

.icon_search ul.sub-menu li form img {
  height: 25px;
  vertical-align: middle;
}


#menu-primary {
  display: none;
}

/* mobile menu */

.cta-bar .login-btn:hover, #menu-mobile li .login-btn:hover {
  color: white;
  background: #262262;
}

#menu-mobile li .login-btn {
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
  font-size: 18px;
}

#menu-mobile {
  padding: 18px;
  visibility: visible;
  font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  background: white;
  border-bottom: solid 1px #2b266d;
}

#menu-mobile li {
  list-style: none;
  padding-left: 1rem;
  margin-top: 18px;
  margin-bottom: 9px;
}

#menu-mobile li.main-menu-item-second {
  display: block;
  width: 100%;
  text-align: left;
  padding: 13px 0;
  position: relative;
}

#menu-mobile li.main-menu-item-second a {
  text-transform: uppercase;
  font-size: 19.8px;
}

#menu-mobile li.main-menu-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 13px 0;
  position: relative;
}

#menu-mobile li.main-menu-item a {
  text-transform: uppercase;
  font-size: 19.8px;
}

#menu-mobile li.main-menu-item::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 12px;
  background-image: url("/assets/icons/arrow-down-nav-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

#menu-mobile li ul.sub-menu li.menu-item-has-children::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 12px;
  background-image: url("/assets/icons/arrow-down-nav-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  float: right;
  margin-top: 8px;
  margin-right: 24px;
  cursor: pointer;
}

#menu-mobile li.nav_apply a {
  padding: 13px 8px;
  width: 100%;
  display: inline-block;
}

#menu-mobile li.nav_apply {
  border-bottom: none;
}

#menu-mobile li ul.sub-menu {
  position: absolute;
  width: auto;
  display: contents;
  left: 0;
  top: 0;
}

#menu-mobile>li {
  border-bottom: #d7d7d7 1px solid;
  font-size: 18px;
}

#menu-mobile>li:last-child {
  border-bottom: none;
}

#menu-mobile ul.sub-menu {
  /* position: static; */
  margin: 0.8rem;
}

#menu-mobile li ul.sub-menu li a span.break {
  display: inline;
  padding-right: .3em;
}

#menu-mobile ul.sub-menu li[class*=icon_] {
  display: block;
  margin-left: 1rem;
  padding: 13px 0;
  white-space: normal;
  margin: 0;
  width: 100%;
}

#menu-mobile ul.sub-menu li[class*=icon_]:first-child {
  padding-top: 20px;
}

#menu-mobile ul.sub-menu li[class*=icon_] a {
  text-transform: capitalize;
  font-size: 19.8px;
}

#menu-mobile ul.sub-menu li[class*=icon_] a img {
  display: none;
}

#menu-mobile ul.sub-menu li[class*=icon_]:hover {
  border-bottom: none;
}

.mobile-nav {
  float: right;
  margin-top: -8px;
}



/* large screens */

@media only screen and (min-width:1168px) {
  .cta-bar {
    padding-left: calc(10%);
    padding-right: calc(5%);
  }
  .site-branding-container {
    padding-left: calc(10%);
  }
  .cta-bar .login-btn {
    display: inline-block;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search a svg:first-child {
    width: 22px;
    vertical-align: text-bottom;
    cursor: pointer;
    display: inline-block;
  }
  .site-nav-container {
    margin-right: calc(5%);
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search ul.sub-menu {
    display: none;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search:hover ul.sub-menu, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search:focus ul.sub-menu {
    display: flex;
    position: absolute;
    right: 0;
  }
  span.break {
    display: block;
  }
  #menu-primary {
    width: fit-content;
    float: right;
    display: flex;
    position: relative;
    top: 3px;
  }
  .mobile-nav, #menu-mobile {
    display: none;
  }
}

/* when medium */

@media only screen and (min-width: 768px) {
  .cta-bar aside p {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
  }
  .site-branding-container .site-branding .logo {
    flex-direction: row;
  }
  .site-branding-container .site-branding .logo .divider {
    display: flex;
    width: 2px;
    height: 32px;
    background: #262262;
    margin: 0 1rem;
  }
  .site-branding-container .site-branding .logo .nih-logo {
    display: flex;
  }
  .site-branding-container .site-branding .logo .nih-logo img {
    max-height: 32px;
  }
}

@media only screen and (min-width: 969px) {
  .cta-bar {
    padding-top: 14px;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-end;
  }
  .cta-bar aside p {
    white-space: nowrap;
  }
  .site-branding-container .mobile-nav {
    display: none;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-block-end: 0;
    width: 100%;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li {
    border: none;
    margin: 14px 0;
    padding: 0;
    position: relative;
    top: 5px;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li>a {
    padding: 10px 25px;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search a {
    padding: 10px;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li.menu-item-has-children:before {
    content: none;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li.menu-item-has-children>ul>li.menu-item-has-children:before {
    color: #262262;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li ul.sub-menu.open {
    display: inherit;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li>a:focus+ul.sub-menu,
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li>ul.sub-menu.open,
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:hover>ul.sub-menu, 
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:focus>ul.sub-menu,
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li>a:focus+ul.sub-menu, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:hover>ul.sub-menu, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:focus>ul.sub-menu,                      
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li>.sub-menu:focus-within
  {
    display:block;
    position: absolute;
    padding-left: 0;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .1);
    background: #fff;
    top: 34px;
    width: 300px;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li ul.sub-menu li {
    padding-left: 14px;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li ul.sub-menu li ul.sub-menu {
    padding-left: 0;
    margin-bottom: 0;
  }
  /* hover first tier nav */
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li a:hover, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:hover>a, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li a:focus, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:focus>a {
    background-color: #262262;
    color: #fff;
  }
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search:hover a svg, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search:hover>a svg, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search:focus a svg, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.icon_search:focus>a svg {
    stroke: #ffffff;
  }
/* .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li>a:focus+ul.sub-menu, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:hover>ul.sub-menu, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:focus>ul.sub-menu,                      
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li>.sub-menu:focus-within  {
    display: block;
    position: ab;
    background:red!important;
  } */
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:hover>ul.sub-menu li a:hover, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li:focus>ul.sub-menu li a:focus {
    background: transparent;
    color: #262262;
    padding-bottom: 5px;
    border-bottom: 3px solid #262262;
  }
                      
  .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu>li.menu-item-has-children:hover>a:before, .site-nav-container nav.main-navigation .menu-primary-container ul.main-menu li.menu-item-has-children:focus a:before {
    border-style: solid;
    content: " ";
    border-color: transparent;
    border-top-color: rgba(38, 34, 98, 1);
    border-width: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10999;
    position: absolute;
    top: 35px;
  }
}