.rh__nav__sticky {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
  pointer-events: none;
}

.rh__nav {
  -webkit-font-smoothing: antialiased;
  font-family: "GothamBold", "Helvetica Neue", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  background-color: #ffffff;
  border-bottom: solid 1px #262262;
  z-index: 9999;
  line-height: 1.5;
}
.rh__nav:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* height: 1px; */
  background-color: #262262;
  pointer-events: none;
}
.rh__nav > div {
  position: relative;
  max-width: 1180px;
  padding: 0;
  margin: 0 auto;
}
.rh__nav .nav__login {
  display: block;
}
.rh__nav .nav__login > a {
  float: right;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #262262;
  background-color: #ffffff;
  border: 1px solid #262262;
  padding: 9px 14px;
  margin-top: 20px;
  margin-bottom: 6px;
}
.rh__nav .nav__login > a:hover {
  color: #ffffff;
  background-color: #216fb4;
  border-color: #216fb4;
}
.rh__nav .nav__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
}
.rh__nav .nav__logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}
.rh__nav .nav__logos .logo__ {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
}
.rh__nav .nav__logos .logo__ img {
  display: block;
  width: auto;
  height: auto;
}
.rh__nav .nav__logos .logo__.logo--rh,
.rh__nav .nav__logos .logo__.logo--nih {
  padding-top: 7px;
}
.rh__nav .nav__logos .logo__.logo--rh img,
.rh__nav .nav__logos .logo__.logo--nih img {
  height: 29px;
}
.rh__nav .nav__logos .logo__.logo--spacer > div {
  display: block;
  width: 2px;
  height: 40px;
  background-color: #262262;
  margin: 0 30px;
}
.rh__nav .nav__mobile {
  position: relative;
  display: none;
  width: 28px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}
.rh__nav .nav__mobile:before,
.rh__nav .nav__mobile:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/assets/images/hamburger.svg);
  opacity: 1;
  transition: opacity 110ms ease-in-out;
}
.rh__nav .nav__mobile:after {
  background-image: url(/assets/images/icon-menu-hover.svg);
  opacity: 0;
}
.sub-menu {
  font-family: GothamBook, Arial, sans-serif;
  z-index: 100;
}

@media (min-width: 1181px) {
  .site-content {
    padding-top: 119px;
  }
  .rh__nav .show--mobile {
    display: none !important;
  }

  .nav__ .nav__items.main-menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .nav__ .nav__items.main-menu > li > div {
    display: none;
  }
  .nav__ .nav__items.main-menu > li {
    position: relative;
    display: block;
  }
  .nav__ .nav__items.main-menu > li.item--search:hover > a > div:before {
    opacity: 0;
  }
  .nav__ .nav__items.main-menu > li.item--search:hover > a > div:after {
    opacity: 1;
  }
  .nav__ .nav__items.main-menu > li.item--search > a {
    position: relative;
  }
  .nav__ .nav__items.main-menu > li.item--search > a > div {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
  }
  .nav__ .nav__items.main-menu > li.item--search > a > div:before,
  .nav__ .nav__items.main-menu > li.item--search > a > div:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/images/search.svg);
    opacity: 1;
    transition: opacity 110ms ease-in-out;
  }
  .nav__ .nav__items.main-menu > li.item--search > a > div:after {
    background-image: url(/assets/images/search-hover.svg);
    opacity: 0;
  }
  .nav__ .nav__items.main-menu > li.item--apply > a {
    background-image: linear-gradient(to bottom, #f9aa58, #f88d7b);
  }
  .nav__ .nav__items.main-menu > li.item--apply > a:hover {
    background-color: #216fb4;
  }
  .nav__ .nav__items.main-menu > li.item--apply > a:hover:before {
    display: none !important;
  }
  .nav__ .nav__items.main-menu > li:hover > a {
    color: #ffffff;
    background-color: #262262;
    background-image: none;
  }
  .nav__ .nav__items.main-menu > li:hover > a:after {
    display: block;
  }
  .nav__ .nav__items.main-menu > li:hover > ul {
    display: block;
  }
  .nav__ .nav__items.main-menu > li.item--search {
    margin: 0 13px;
  }
  .nav__ .nav__items.main-menu > li.item--search > ul {
    left: auto;
    right: 0;
  }
  .nav__ .nav__items.main-menu > li.item--search > ul li {
    width: 477px;
    padding: 0 15px 0 31px;
  }
  .nav__ .nav__items.main-menu > li.item--search > ul li form {
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }
  .nav__ .nav__items.main-menu > li.item--search > ul li form input[type="text"] {
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    max-width: 390px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #262262;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
  }
  .nav__ .nav__items.main-menu > li.item--search > ul li form input[type="button"],
  .nav__ .nav__items.main-menu > li.item--search > ul li form input[type="submit"] {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #262262;
    background-color: #ffffff;
    padding: 11px 7px;
    margin: 0;
    border: solid 1px #262262;
    transition: color 110ms ease-in-out;
  }
  .nav__ .nav__items.main-menu > li.item--search > ul li form input[type="button"]:hover,
  .nav__ .nav__items.main-menu > li.item--search > ul li form input[type="submit"]:hover {
    color: #ffffff;
    background-color: #262262;
  }
  .nav__ .nav__items.main-menu > li.current-menu-item > a:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 30px);
    height: 5px;
    background-color: #262262;
    pointer-events: none;
    z-index: 1;
  }
  .nav__ .nav__items.main-menu > li.menu-item-has-children > a:after {
    content: "";
    display: none;
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    margin: auto;
    width: 22px;
    height: 22px;
    background-color: #262262;
    transform: rotate(45deg);
    pointer-events: none;
    z-index: 1;
  }
  .nav__ .nav__items.main-menu > li.menu-item-has-children:hover > a:after {
    display: block;
  }
  .nav__ .nav__items.main-menu > li > a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #262262;
    padding: 13px 15px 15px 15px;
    z-index: 2;
  }
  .nav__ .nav__items.main-menu > li > a:hover {
    color: #ffffff;
    background-color: #262262;
    background-image: none;
  }
  .nav__ .nav__items.main-menu > li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    padding: 31px 0 18px 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  }
  .nav__ .nav__items.main-menu > li ul > li {
    display: block;
    font-size: 0;
    width: 315px;
    padding: 4px 30px;
  }
  .nav__ .nav__items.main-menu > li ul > li:hover a {
    /*color: #262262;
    background-color: #ffffff;
    border-color: #262262;*/
  }
  .nav__ .nav__items.main-menu > li ul > li.current-menu-item > a {
    color: #262262;
    background-color: #ffffff;
    border-bottom: 5px solid #ffffff;
    border-color: #262262;
  }
  .nav__ .nav__items.main-menu > li ul > li > div {
    display: none;
  }
  .nav__ .nav__items.main-menu > li ul > li > a {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    color: #262262;
    padding: 8px 0;
    margin: 0;
    border-bottom: 3px solid #ffffff;
    transition: border-color 110ms ease-in-out;
  }
  .nav__ .nav__items.main-menu > li ul > li > a:after {
    display: none;
  }
  .nav__ .nav__items.main-menu > li ul > li > a:hover {
    color: #262262;
    background-color: #ffffff;
    border-color: #262262;
  }
}
@media (max-width: 1180px) {
  .site-content {
    padding-top: 77px;
  }
  .rh__nav .show--mobile {
    display: block;
  }
  .rh__nav .show--screen {
    display: none;
  }
  .rh__nav .nav__login {
    display: none;
  }
  .rh__nav .nav__container {
    align-items: center;
  }
  .rh__nav .nav__logos .logo__ {
    padding-top: 18px;
    padding-bottom: 19px;
  }
  .rh__nav .nav__logos .logo__.logo--rh,
  .rh__nav .nav__logos .logo__.logo--nih {
    padding-top: 25px;
    padding-bottom: 23px;
  }
  .rh__nav .nav__mobile {
    display: block;
  }
  .rh__nav.nav--open .nav__mobile:before {
    background-image: url(/assets/images/icon-menu-close.svg);
  }
  .rh__nav.nav--open .nav__ {
    display: block;
  }
  .nav__ {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: -1rem;
    width: calc(100% + 2rem);
    min-height: 600px;
    max-height: calc(100% - 78px);
    overflow-y: auto;
    padding: 0 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    z-index: 5;
  }
  .nav__ .nav__items.main-menu {
    list-style: none;
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
  }
  .nav__ .nav__items.main-menu > li {
    position: relative;
    font-size: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: solid 0.5px #d7d7d7;
  }
  .nav__ .nav__items.main-menu > li > div {
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    right: 0;
    margin: auto;
    margin: 0;
    width: 25px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url(/assets/images/arrow-down-nav-mobile.svg);
    opacity: 1;
    transition: opacity 110ms ease-in-out;
    cursor: pointer;
  }
  .nav__ .nav__items.main-menu > li > a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    color: #4a4a4a;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 0;
  }
  .nav__ .nav__items.main-menu > li > a:hover {
    color: #262262;
  }
  .nav__ .nav__items.main-menu > li ul {
    display: none;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open {
    border: 0;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open:before {
    content: "";
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #262262;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open > div {
    transform: rotate(180deg);
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul {
    display: block;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    list-style: none;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul li {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 0;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul li:last-child {
    margin-bottom: 20px;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul li > div {
    display: none;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul li a {
    position: relative;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
    color: #216fb4;
    padding: 0 20px 0 0;
    margin: 0;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul li a:hover {
    color: #262262;
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul li a:hover:after {
    background-image: url(/assets/images/arrow-right-hover.svg);
  }
  .nav__ .nav__items.main-menu > li.sub--nav--open ul li a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 9px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url(/assets/images/arrow-right.svg);
  }
  .nav__ .nav__items.main-menu li.menu-item-100 > div {
    display: none;
  }
  .nav__ .nav__items.main-menu li.item--search {
    border: 0;
  }
  .nav__ .nav__items.main-menu li.item--search > a {
    display: none;
  }
  .nav__ .nav__items.main-menu li.item--search > ul {
    display: block;
    left: auto;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav__ .nav__items.main-menu li.item--search > ul li {
    width: 100%;
    padding: 21px 0;
  }
  .nav__ .nav__items.main-menu li.item--search > ul li form {
    font-size: 0;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
  }
  .nav__ .nav__items.main-menu li.item--search > ul li form input[type="text"] {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #262262;
    padding: 0 0 18px 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-bottom: solid 0.5px #262262 !important;
  }
  .nav__ .nav__items.main-menu li.item--search > ul li form input[type="button"],
  .nav__ .nav__items.main-menu li.item--search > ul li form input[type="submit"] {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    display: block;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-indent: -9999px;
    color: #262262;
    padding: 11px 7px;
    margin: 0;
    border: solid 0px #262262;
    transition: color 110ms ease-in-out;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(/assets/images/search-mobile.svg);
  }
  .nav__ .nav__items.main-menu li.item--search > ul li form input[type="button"]:hover,
  .nav__ .nav__items.main-menu li.item--search > ul li form input[type="submit"]:hover {
    cursor: pointer;
  }
  .nav__ .nav__items.main-menu li.item--apply {
    border: 0;
    padding-top: 30px;
  }
  .nav__ .nav__items.main-menu li.item--apply:before {
    display: none;
  }
  .nav__ .nav__items.main-menu li.item--apply > a {
    display: block;
    width: 100%;
    max-width: 293px;
    color: #262262;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #f9aa58, #f88d7b);
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav__ .nav__items.main-menu li.item--apply > a:hover {
    color: #ffffff;
    background-color: #216fb4;
    background-image: none;
  }
  .nav__ .nav__items.main-menu li.item--apply > a:hover:before {
    display: none !important;
  }
  .nav__ .nav__items.main-menu li.item--login {
    border: 0;
    padding-top: 20px;
  }
  .nav__ .nav__items.main-menu li.item--login:before {
    display: none;
  }
  .nav__ .nav__items.main-menu li.item--login > a {
    display: block;
    width: 100%;
    max-width: 293px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #262262;
    background-color: #ffffff;
    border: 1px solid #262262;
    padding: 8px 40px;
    margin: 0 auto;
  }
  .nav__ .nav__items.main-menu li.item--login > a:hover {
    color: #ffffff;
    background-color: #216fb4;
    border-color: #216fb4;
  }
}
@media (max-width: 599px) {
  .site-content {
    padding-top: 50px;
  }
  .rh__nav .nav__logos .logo__.logo--spacer,
  .rh__nav .nav__logos .logo__.logo--nih {
    display: none;
  }
  .rh__nav .nav__logos .logo__.logo--rh {
    padding-top: 9px;
    padding-bottom: 12px;
  }
}
