
/* Master Styles */

@font-face {
  font-family: 'FFUnitStdMedium';
  src: url('/assets/fonts/38B71D_0_0.eot');
  src: url('/assets/fonts/38B71D_0_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_0_0.woff2') format('woff2'), url('/assets/fonts/38B71D_0_0.woff') format('woff'), url('/assets/fonts/38B71D_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FFUnitStdBoldItalic';
  src: url('/assets/fonts/38B71D_1_0.eot');
  src: url('/assets/fonts/38B71D_1_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_1_0.woff2') format('woff2'), url('/assets/fonts/38B71D_1_0.woff') format('woff'), url('/assets/fonts/38B71D_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FFUnitStdRegular';
  src: url('/assets/fonts/38B71D_2_0.eot');
  src: url('/assets/fonts/38B71D_2_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_2_0.woff2') format('woff2'), url('/assets/fonts/38B71D_2_0.woff') format('woff'), url('/assets/fonts/38B71D_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FFUnitStdLightItalic';
  src: url('/assets/fonts/38B71D_3_0.eot');
  src: url('/assets/fonts/38B71D_3_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_3_0.woff2') format('woff2'), url('/assets/fonts/38B71D_3_0.woff') format('woff'), url('/assets/fonts/38B71D_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FFUnitStdItalic';
  src: url('/assets/fonts/38B71D_4_0.eot');
  src: url('/assets/fonts/38B71D_4_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_4_0.woff2') format('woff2'), url('/assets/fonts/38B71D_4_0.woff') format('woff'), url('/assets/fonts/38B71D_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FFUnitStdLight';
  src: url('/assets/fonts/38B71D_5_0.eot');
  src: url('/assets/fonts/38B71D_5_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_5_0.woff2') format('woff2'), url('/assets/fonts/38B71D_5_0.woff') format('woff'), url('/assets/fonts/38B71D_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FFUnitStdMediumItalic';
  src: url('/assets/fonts/38B71D_6_0.eot');
  src: url('/assets/fonts/38B71D_6_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_6_0.woff2') format('woff2'), url('/assets/fonts/38B71D_6_0.woff') format('woff'), url('/assets/fonts/38B71D_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FFUnitStdBold';
  src: url('/assets/fonts/38B71D_7_0.eot');
  src: url('/assets/fonts/38B71D_7_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/38B71D_7_0.woff2') format('woff2'), url('/assets/fonts/38B71D_7_0.woff') format('woff'), url('/assets/fonts/38B71D_7_0.ttf') format('truetype');
}

@font-face {
  font-family: "GothamBook";
  src: url("/assets/fonts/GothamBook.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/GothamBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/assets/fonts/GothamBook.otf") format("opentype"), /* Open Type Font */
  url("/assets/fonts/GothamBook.svg") format("svg"), /* Legacy iOS */
  url("/assets/fonts/GothamBook.ttf") format("truetype"), /* Safari, Android, iOS */
  url("/assets/fonts/GothamBook.woff") format("woff"), /* Modern Browsers */
  url("/assets/fonts/GothamBook.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("/assets/fonts/GothamMedium.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/GothamMedium.otf") format("opentype"), /* Open Type Font */
    url("/assets/fonts/GothamMedium.svg") format("svg"), /* Legacy iOS */
    url("/assets/fonts/GothamMedium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/assets/fonts/GothamMedium.woff") format("woff"), /* Modern Browsers */
    url("/assets/fonts/GothamMedium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("/assets/fonts/GothamLight.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/GothamLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/GothamLight.otf") format("opentype"), /* Open Type Font */
    url("/assets/fonts/GothamLight.svg") format("svg"), /* Legacy iOS */
    url("/assets/fonts/GothamLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/assets/fonts/GothamLight.woff") format("woff"), /* Modern Browsers */
    url("/assets/fonts/GothamLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamBold";
  src: url("/assets/fonts/GothamBold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/GothamBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/GothamBold.otf") format("opentype"), /* Open Type Font */
    url("/assets/fonts/GothamBold.svg") format("svg"), /* Legacy iOS */
    url("/assets/fonts/GothamBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/assets/fonts/GothamBold.woff") format("woff"), /* Modern Browsers */
    url("/assets/fonts/GothamBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E1;
  /* overflow-x: hidden; */
  font-family: 'Gotham A','Gotham B','GothamBook','Helvetica Neue', sans-sarif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility;
}

img {
  height: auto;
  max-width: 100%;
  position: relative
}

.pushFooter {
  width:100vw;
  height:100vh;
}

.widget>* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility
}

.db-container, .breadcrumbs-container {
  margin: 0 calc(10%);
  padding: 0 0.7rem;
  background: #f1f1f1;
}

.main-bg {
  height: auto;
  padding-bottom: 4rem;
  background: url('/assets/backgrounds/background-pattern1.png');
  background-attachment: fixed;
  background-color: #f0f0f1;
}

input[type=text], input[type=password] {
  border: 1px solid #9a9a9a;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #0094d2;
}

.loading-text {
  padding-left: 0.3rem;
  color: #888;
}

.loading-area {
  padding-top: 0.3rem;
}

.required::after {
  content: " *";
  color: red;
}

/* :root {
    --mid-blue: #216fb4;
    --pale-sky-blue: #bee1ff;
    --pale-grey: #f6f6f8;
    --pale-grey-two: #f0f2f3;
    --blueberry: #2f2e7e;
    --pinkish-grey: #bababa;
    --dark-slate-blue: #262262;
    --gutter: 9px;
    --boxshadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    --tbl-border:1px solid #CCCCCC;
  } */

a a:link a:visited {
  color: #bee1ff;
}

.toggle-link {
  cursor: pointer;
}

.highcharts-tooltip>span {
  background: #f6f6f8;
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 8px;
}

/* get rid of margins on small screens */

@media (max-width: 978px) {
  .db-container {
    margin: 0 cal(5%);
  }
  body {
    padding: 0;
  }
}

/* Must override clarity styles here, globally as angular component styles don't apply to child components used
 * in the template ie clarity components.
 */