/* primary display */

.primary-display, h1 {
  font-family: FFUnitStdMedium, sans-serif;
  font-size: 36.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 45.36px;
  letter-spacing: normal;
  text-align: left;
}

.secondary-display, h2 {
  font-family: FFUnitStdMedium, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 27px;
  font-stretch: normal;
  line-height: 1.47em;
  letter-spacing: normal;
  text-align: left;
}

.body-lead {
  font-family: 'Gotham A', 'Gotham B', 'GothamBook', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

.display-body {
  font-family: FFUnitStdLight, sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
}

.body-default, p {
  font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #262262;
}

#db-title {
  text-align: center;
  margin: 0;
  padding: 18px;
}

#db-desc {
  padding: 18px;
  padding-bottom:63px;
  margin: 0 auto;
  line-height: 2.0;
  font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', sans-serif;
  font-size:20px;
}

#db-sub-desc {
  padding: 2rem;
  text-align: center;
}

.chart {
  width: calc((100%/12)*10);
  margin: 0 auto;
}

.info-icon {
  color: #337AB7;
  font-weight: 600;
  /* filter: contrast(56%) brightness(127.2%); */
  transform: scale(0.8);
}

.bar-chart-icon {
  height: 1rem;
  width: 1rem;
  color: #2691D0;
  cursor: pointer;
}

.db-card {
  padding: 18px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

.db-card-inner {
  width: 100%;
}

/* •••••SEARCH-BAR•••••• */

#db-search-bar {
  flex-grow: 1;
  background: #DAE6ED;
  padding: 18px;
  border-radius: 5px;
  min-width:20rem;
}

#db-search-bar input {
  min-width: calc((100%/12)*10);
  padding: 18px;
  font-size: 18px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

#db-search-bar input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #216fb4;
}

#db-search-bar input::-moz-placeholder {
  /* Firefox 19+ */
  color: #216fb4;
}

#db-search-bar input:-ms-input-placeholder {
  /* IE 10+ */
  color: #216fb4;
}

#db-search-bar input:-moz-placeholder {
  /* Firefox 18- */
  color: #216fb4;
}

.info-text {
  font-size: 16px;
  align-items: center;
  display: flex;
}

.graph-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 9px;
}

.chart-choice {
  padding: 9px;
  color: #216fb4;
  position: relative;
  display: flex;
  cursor: pointer;
}

.chart-choice:hover {
  color: #262262;
}

.chart-choice.active::after {
  content: '';
  position: absolute;
  width: 86%;
  height: 5px;
  background: #216fb4;
  left: 5%;
  bottom: -5px;
  border-radius: 5px;
  cursor: pointer;
}

.aka {
  transition: .1s background ease-in;
  cursor: pointer;
}

/* •••• table with fisrt column maxwidth 50% •••• */

.tbl-r {
  display: flex;
  justify-content: space-between;
}

.tbl-r-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
}

.tbl-r-group .tbl-d:last-of-type {
  width: 5rem;
  white-space: nowrap;
  text-align: right;
}

.tbl-r.tbl-head {
  padding: 9px;
  border-radius: 3px 3px 0 0;
}

.tbl-d {
  padding: 0 9px;
  position: relative;
  width: calc(24%);
}

.row-expansion {
  width: 100%;
  text-align: center;
  padding-top: 9px;
  background: #f6f6f8;
  border-top: none;
  padding-bottom: calc(9px*3);
}

.tbl-r-state {
  background: #f6f6f8;
}

.tbl-r-expanded {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.tbl-exp-r .tbl-r .tbl-d {
  max-width: 50%;
}

.tbl-exp-r {
  border: 1px solid #CCCCCC;
  border-bottom: none;
  cursor: pointer;
  transition: .2s background ease-out;
  padding:9px;
}
.tbl-exp-r *.tbl-exp-r {
  border-left: none;
  border-right: none;
  padding: 0.5rem 0;
}

.tbl-exp-r {
  border-bottom: 1px solid #CCCCCC;
}

.tbl-exp-r:hover {
  background: #f6f6f8;
  transition: .1s background ease-in;
}

.tbl-d.first {
  width: 30%;
  min-width: 10rem;
}

.tbl-r {
  text-align: left;
}

/**** ##MAILCHIMP ***/
#mc_embed_signup {
  text-align: left;
  background: transparent;
  position: relative;
}
#mc_embed_signup .mc-field-group input {
  height: 50px;
  border: 1px solid;
  margin-bottom: 0;
  vertical-align: text-bottom;
}
#mc_embed_signup .clear input {
  margin-top: .6rem;
  margin-bottom: 1rem;
}
.mc-field-group {
  margin-top: .6rem;
}
.mc-field-group input {
  width: 100%;
	max-width: 320px;
}
