/* primary display */

.primary-display, h1 {
  font-family: FFUnitStdRegular, sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08em;
  letter-spacing: normal;
  text-align: left;
  color: #262262;
}

.secondary-display, h2 {
  font-family: FFUnitStdLight, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 38px;
  font-stretch: normal;
  line-height: 1.47em;
  letter-spacing: normal;
  text-align: left;
  color: #262262;
}

.display-body {
  font-family: FFUnitStdRegular, sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #262262;
}

.body-lead {
  font-family: 'Gotham A','Gotham B','GothamBook','Helvetica Neue', sans-sarif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2em;
  letter-spacing: normal;
  text-align: left;
  color: #262262;
}

.body-default, p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  font-size:18px;
  letter-spacing: normal;
  text-align: left;
  color: #262262;
}

#db-title {
  text-align: center;
  width: calc(100%/1);
  margin: auto;
}

#db-desc {
  width:calc((100%/12) * 10);
  margin:auto;
  text-align: center;
  margin-top:0;
  margin-bottom: 54px;
}

#db-sub-desc {
  padding: 2rem;
  text-align: center;
}

.chart {
  width: calc((100%/12)*10);
  margin: 0 auto;
}

.info-icon {
  color: #216fb4;
  font-weight: 600;
  filter: contrast(56%) brightness(127.2%);
  transform: scale(0.8);
}

.bar-chart-icon {
  height: 1rem;
  width: 1rem;
  color: #2691D0;
  cursor: pointer;
}

.db-card {
  padding: 18px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

.db-card-inner {
  width: 100%;
}

.search-bar-container {
  margin-bottom: calc( 18px * 2);
  margin-top:  18px ;
}


.search-icon {
  width: calc((100%/12));
  height: 20px;
}

.info-text {
  font-size: 14px;
}

.graph-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 9px;
}

.chart-choice {
  padding: 9px;
  color: #216fb4;
  position: relative;
  display: flex;
  cursor: pointer;
}

.chart-choice:hover {
  color: #262262;
}

.chart-choice.active::after {
  content: '';
  position: absolute;
  width: 86%;
  height: 5px;
  background: #216fb4;
  left: 5%;
  bottom: -5px;
  border-radius: 5px;
  cursor: pointer;
}

.aka {
  transition: .1s background ease-in;
  cursor: pointer;
}

/* •••• table with fisrt column maxwidth 50% •••• */

.tbl-r {
  display: flex;
  justify-content: space-between;
}

.tbl-r-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 30rem;
}


.tbl-r-group .tbl-d:last-of-type {
  width: 5rem;
  white-space: nowrap;
  text-align: right;
}

.tbl-r.tbl-head {
  padding: 9px;
  border-radius: 3px 3px 0 0;
}

.tbl-d {
  padding: 0 9px;
  position: relative;
  width: calc(24%);
}

.row-expansion {
  width: 100%;
  text-align: center;
  padding-top: 9px;
  background: #f6f6f8;
  border-top: none;
  padding-bottom: calc(9px*3);
}

.tbl-r-state {
  background: #f6f6f8;
}

.tbl-r-expanded {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.tbl-exp-r .tbl-r .tbl-d {
  max-width: 50%;
}

.tbl-exp-r {
  border: 1px solid #CCCCCC;
  border-bottom: none;
  cursor: pointer;
  transition: .2s background ease-out;
  padding: 9px 0;
}

.tbl-exp-r:last-of-type {
  border-bottom: 1px solid #CCCCCC;
}

.tbl-exp-r:hover {
  background: #f6f6f8;
  transition: .1s background ease-in;
}
