/* primary display */

.primary-display, h1 {
  font-family: Arial, sans-serif;
  font-size: 36.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 45.36px;
  letter-spacing: normal;
  text-align: left;
}

.secondary-display, h2 {
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 27px;
  font-stretch: normal;
  line-height: 1.47em;
  letter-spacing: normal;
  text-align: left;
}

.link:hover {
  text-decoration: underline;
  color: #337AB7;
}

.body-lead {
  font-family: 'GothamBook', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

.display-body {
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
}

.help-text {
  font-size: 16px;
}

.survey-desc {
  padding-top: 1%;
}

.body-default, p {
  font-family: 'GothamBook', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: normal;
  text-align: left;
  color: #262262;
}

.fas {
  transform: rotate(-45deg);
}

#db-title {
  text-align: center;
  margin: 0;
  padding: 18px;
}

#db-desc {
  padding: 18px;
  padding-bottom: 63px;
  margin: 0 auto;
  line-height: 2.0;
  font-family: 'GothamBook', 'Arial', sans-serif;
  font-size: 20px;
}

#db-sub-desc {
  padding: 2rem;
  text-align: center;
}

.chart {
  width: calc((100%/12)*10);
  margin: 0 auto;
}
.concept-charts {
  width: calc((100%/12)*10);
  margin: 0 auto;
}
.source-chart {
  width:100%;
  margin-left:-1rem;
}

.info-icon {
  color: #337AB7;
  font-weight: 600;
  /* filter: contrast(56%) brightness(127.2%); */
  transform: scale(0.8);
}

.bar-chart-icon {
  height: 1rem;
  width: 1rem;
  color: #2691D0;
  cursor: pointer;
}

.filter-grid-icon {
  height: 1rem;
  width: 1rem;
  color: #2691D0;
  cursor: pointer;
}

.clr-checkbox-wrapper {
  padding: 5%;
}

.db-card {
  padding: 18px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

.db-card-inner {
  width: 100%;
}

/* •••••SEARCH-BAR•••••• */

#db-search-bar {
  flex-grow: 1;
  background: #DAE6ED;
  padding: 9px;
  border-radius: 5px;
}

@media only screen and (min-width: 1168px) {
  #db-search-bar {
    min-width: 20rem;
  }
}

#db-search-bar input {
  min-width: calc((100%/12)*10);
  padding: 18px;
  font-size: 18px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

#db-search-bar input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #216fb4;
}

#db-search-bar input::-moz-placeholder {
  /* Firefox 19+ */
  color: #216fb4;
}

#db-search-bar input:-ms-input-placeholder {
  /* IE 10+ */
  color: #216fb4;
}

#db-search-bar input:-moz-placeholder {
  /* Firefox 18- */
  color: #216fb4;
}

.info-text {
  font-size: 14px;
  align-items: center;
  display: flex;
}

.survey-note{
  font-size: 16px;
  align-items: center;
}

.clear-search-icon {
  color: black;
}

.graph-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 9px;
}

.chart-choice {
  padding: 9px;
  color: #216fb4;
  position: relative;
  display: flex;
  cursor: pointer;
}

.chart-choice .tooltip {
  margin-left: .25rem;
}

.sub-chart-choice {
  padding: 9px;
  color: #216fb4;
  position: relative;
  display: flex;
  cursor: pointer;
}

.survey-chart-choice .tooltip {
  margin-left: .25rem;
}

.chart-choice:hover {
  color: #262262;
}

.survey-chart-choice.active::after, .chart-choice.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  right: 0;
  background: #216fb4;
  bottom: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.unit-choice.active, .sub-graph-choice.active {
  border-style: solid;
  border-color: #BEE1FF;
  border-radius: 2px 2px 2px 2px;
}

.survey-answer-level-1.active, .survey-answer-level-2.active {
  font-weight: bold;
}

.aka {
  transition: .1s background ease-in;
  cursor: pointer;
}

@media only screen and (min-width: 1168px) {
  /* .tbl-d.first {
    min-width: 10rem;
  } */
}

/**** ##MAILCHIMP ***/

#mc_embed_signup {
  text-align: left;
  background: transparent;
  position: relative;
}

#mc_embed_signup .mc-field-group input {
  height: 50px;
  border: 1px solid;
  margin-bottom: 0;
  vertical-align: text-bottom;
}

#mc_embed_signup .clear input {
  margin-top: .6rem;
  margin-bottom: 1rem;
}

.mc-field-group {
  margin-top: .6rem;
}

.mc-field-group input {
  width: 100%;
  max-width: 320px;
}

.allofus-italics {
  font-style: italic;
}

.survey-tbl-r {
  display: flex;
  justify-content: space-between;
}

.survey-tbl-r-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
}

.survey-tbl-r-group .survey-tbl-d:last-of-type {
  width: 5rem;
  white-space: nowrap;
  text-align: center;
}
.survey-tbl-r-group .survey-tbl-d:last-of-type button {
  width:100%;
}

.survey-tbl-r.survey-tbl-head {
  padding: 9px;
  border-radius: 3px 3px 0 0;
}

.survey-tbl-d {
  font-size: 16px;
  padding: 0 9px;
  position: relative;
  width: calc(24%);
}

.survey-row-expansion {
  width: 100%;
  text-align: center;
  padding-top: 9px;
  background: #f6f6f8;
  border-top: none;
  padding-bottom: calc(9px*3);
}

.survey-tbl-r-state {
  background: #f6f6f8;
}

.survey-tbl-r-expanded {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.survey-tbl-exp-r .survey-tbl-r .survey-tbl-d {
  max-width: 50%;
}

.survey-tbl-exp-r {
  border: 1px solid #CCCCCC;
  border-bottom: none;
  cursor: pointer;
  transition: .2s background ease-out;
  padding: 9px;
  min-width: 810px;
}

.survey-tbl-exp-r *.survey-tbl-exp-r {
  border-left: none;
  border-right: none;
  padding: 0.5rem 0;
  min-width: auto;
}

.survey-tbl-exp-r:last-of-type {
  border-bottom: 1px solid #CCCCCC;
}

.survey-tbl-exp-r:hover {
  background: #f6f6f8;
  transition: .1s background ease-in;
}

.survey-tbl-d.first {
  width: 30%;
}
