<div class="survey-graph-menu">
  <div *ngFor="let g of graphButtons"
       [ngClass]="{'active':graphToShow === g}" (click)="$event.stopPropagation();selectGraph(g,question)"
       class="survey-chart-choice">
    <span>{{g}}</span>
    <clr-tooltip>
      <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
      <clr-tooltip-content clrPosition=top-right clrSize="lg" *clrIfOpen>
        <div class="tooltip-label">{{showToolTip(g)}}</div>
      </clr-tooltip-content>
    </clr-tooltip>
  </div>
</div>
<div class="chart">
  <app-chart (click)="$event.stopPropagation()" [surveyAnalysis]="selectedAnalysis" [selectedResult]="selectedResult"
             [backgroundColor]="'#ECF1F4'" [domainType]="'surveys'" [chartTitle]="graphToShow"></app-chart>
</div>