<ng-container *ngIf="node">
  <app-db-spinner *ngIf="loading" [loading]="loading && opened && node.group" [dots]="true"></app-db-spinner>
  <ng-container *ngIf="node.children && opened">
    <div *ngFor="let child of node.children; let index = index" class="child">
      <span class="tree-row" [ngClass]="[child.group ? 'hasChildren':'noChildren' , childIndex == index && subOpened ? 'opened':'']"
        (click)="$event.stopPropagation();openUp(index,child,node.children)"><span>{{child.name}}</span> <span class="blue-text">
          ({{child.count | number}})</span></span>
      <app-recursive-tree class="child" *ngIf="childIndex == index && subOpened" [childIndex]="index" [opened]="childIndex == index ? true:false && subOpened" [node]="child">
      </app-recursive-tree>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="!node">
  no data found
</ng-container>