
.hasChildren {
    position: relative;
}

.hasChildren::before {
    content: '';
    display: block;
    position: absolute;
    top:.05em;
    left:-1.05em;
    width: .6em;
    height: .6em;
    border-right: .125em solid gray;
    border-bottom: .125em solid gray;
    border-radius: .1em;
    transform-origin:  80% 80%;
    transform: rotate(-45deg);
}

.hasChildren.opened::before {
    transition: .1s transform linear;
    transform: rotate(45deg);
}

.noChildren {
    position: relative;
    
}
.blue-text {
    color:#216fb4;
}

.child{
    margin-left: .5rem;
    font-size: .7rem;
    height: fit-content;
}

app-recursive-tree {
    display:table;
}