.fmh-body-default {
    font-size: 16px;
    color: #262262;
}

.topic-body-default {
    font-size: 16px;
}

.topic-display {
    margin-top: 3%;
    margin-bottom: 3%;
}

.fmh-question-result {
    border-top: 1px solid #CCCCCC;
    padding: 9px 0;
}

.fmh-question-result .fmh-secondary-display {
    font-size: .9em;
}

.fmh-question-result .fmh-question-text {
    font-family: Arial, sans-serif;
    color: #262262;
}

.fmh-question-result:first-of-type {
    border-top: none;
}

.fmh-question-result .fmh-survey-tbl {
    width: 100%;
    overflow-x: scroll;
}

.fmh-see-answers {
    font-size: .7em;
    cursor: pointer;
    color: #216fb4;
}

.fmh-see-answers clr-icon {
    width: 1.3em;
    height: 1.3em;
    color: #216fb4;
}

.question-info-text {
    font-size: 16px;
    margin-bottom: 2%;
    margin-top: 2%;
}